[2017-01-20 08:32] casperdcl opened #1 "other repo"
see [SIRF:superbuild](https://github.com/CCPPETMR/SIRF/tree/superbuild)

[2017-03-13 23:50] #1 closed, assigned to nobody

[2017-04-22 09:41] KrisThielemans opened #4 "changing an External*.cmake doesn't cause rebuild"
I ran "cmake .; make", then updated External_Boost_configureboost.cmake (by switching branch), which added some extra boost libraries, but those libraries never got build. This might be a CMake problem, not ours.

CMake version 3.7.0.

[2017-04-22 09:43] KrisThielemans opened #5 "adding list of libraries to boost project dependency"
It would be nice to be able to specify which boost libraries a particular project depends on (e.g. SIRF needs less than Gadgetron).

[2017-04-22 09:54] KrisThielemans opened #6 "what to do with BUILD_TESTING?"
Several sub-projects have BUILD_TESTING.
We could provide several options (no testing, test only SIRF, test everything). In some sense however the "test only SIRF" is flawed as the dependencies need to work correctly. But running all the tests is going to take a looong time.

I guess we could have a CMake option for every project dependency (could maybe be done semi-automatically: add an option BU

[2017-04-22 09:57] KrisThielemans opened #7 "Windows support"
At present, most configurations will fail for Windows.
Probably our best strategy is to download precompiled packages and use those.

[2017-04-22 10:10] casperdcl commented on #4
I think you need to rerun cmake configure whenever you make those sort of changes.

[2017-04-22 10:11] casperdcl commented on #6
:+1:

[2017-04-22 10:19] KrisThielemans opened #8 "how to pass options to projects"
Examples:

- on the UCL CS CentOS system, we need to set `-DMKLROOT_PATH=` for Gadgetron's CMake as its MKL is too old (it will then use ACE).

- I'd like to be able to enable STIR_OPENMP for testing.

I guess, this can be done by first running "cmake .;make", then going into the relevant directory, running cmake-gui there and changing the configuration, but this seems rather painful.

[2017-04-22 11:13] KrisThielemans opened #9 "add siemens_to_ismrmrd"

[2017-04-23 16:11] KrisThielemans opened #10 "fftw3 needs double precision"
ISMRMRD only needs single precision libraries for FFTW3 but Gadgetron needs both single and double.

This might need 2 builds for fftw (so in different locations). See
http://www.fftw.org/fftw2_doc/fftw_6.html
However, not sure if the type-prefix is what we need.

[2017-04-23 16:14] KrisThielemans opened #11 "add armadillo to superbuild"
armadillo support is too old in CentOS 7. Current Gadgetron needs armadillo 4.600.

armadillo is Apache 2.0 but doesn't seem to have a repository. it can be downloaded from
http://arma.sourceforge.net/download.html
Direct link is probably
https://downloads.sourceforge.net/project/arma/armadillo-7.800.2.tar.xz?r=http%3A%2F%2Farma.sourceforge.net%2Fdownload.html&ts=1492964011&use_mirror=netcologne

[2017-04-23 20:54] KrisThielemans opened #12 "reduce number of things we build"
I think we should save ourselves some time by disabling some options (like we did for STIR)

HDF5:
-	HDF5_BUILD_EXAMPLES=OFF
-	HDF5_BUILD_HL_LIB=OFF (to be tested)
-	HDF5_BUILD_TOOLS=OFF (or are these useful?)

Gadgetron:
-	Do we need Python gadgets? If not, we don’t need boost_python.
-	Do we need Gadgetron’s MATLAB support?

[2017-04-23 23:16] casperdcl commented on #8
you can also `cmake -DMKLROOT_PATH=... -DSTIR_OPENMP=1 && make` or just `cmake-gui` only (skip `cmake`) in the first place.

[2017-04-24 03:36] DANAJK commented on #12
For v0.9 we don't need Python gadgets or the Gadgetron MATLAB support. However, one of SIRFs strengths may turn out to be that it becomes an easy way to install Gadgetron and it is of particular appeal to users who like to use Python or MATLAB interfaces, hence, providing this 'service' could increase the appeal of SIRF.

I don't remember ever having to worry about single or double precision for f

[2017-04-25 15:13] KrisThielemans commented on #10
easiest solution might be as follows:

create 2 external projects: FFTW3single, FFTW3double. Identical aside from the "--enable-float" flag. Let ismrmrd depend on FFTW3single, and gadgetron on both.

@bathomas, @paskino what do you think?

[2017-04-25 15:16] KrisThielemans commented on #10
I've checked that the *.h files are identical in both installations, so that's ok.

It implies downloading the package twice, but I don't care...

[2017-04-25 15:20] paskino commented on #10
agreed, I'm doing it.

[2017-04-25 18:44] KrisThielemans commented on #8
Would that ppass their from the superbuils cmake call to the project cmake call? I don't think so (at least without extra work)

________________________________
From: Casper da Costa-Luis <notifications@github.com>
Sent: Monday, April 24, 2017 12:16:39 AM
To: CCPPETMR/SIRF-SuperBuild
Cc: Thielemans, Kris; Author
Subject: Re: [CCPPETMR/SIRF-SuperBuild] how to pass options to projects (#8)

you can

[2017-04-25 20:58] casperdcl commented on #8
Yes, you're right - it would require a little extra work to pass through. I'm assuming we need something like [SIRF-SuperBuild:SuperBuild/External_STIR.cmake#L29-30](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_STIR.cmake#L29-30)?

[2017-04-25 22:52] KrisThielemans commented on #8
yes. that'd work. It's a bit inconvenient as it means we have to create all relevant options at the top-level I guess, but I suppose that makes some kind of sense, and doesn't seem arduous.

[2017-04-25 23:39] KrisThielemans commented on #11
done

[2017-04-25 23:39] #11 closed

[2017-04-29 13:47] KrisThielemans commented on #10
fixed in fa02925d50593df917b1a09c4731bc4a53207669

[2017-04-29 13:47] #10 closed

[2017-04-29 13:49] KrisThielemans opened #13 "Travis ignores the global variables"
I have a "global" section in .travis.yml but the BUILD_FLAGS there are ignored for some reason. At the moment I just duplicate them in the "env" section, but that will get ugly once we have more builds.

[2017-04-29 21:15] KrisThielemans opened #14 "Using different compilers does not always go to dependencies"
In bash, you can normally say

    CC=gcc-5 CXX=g++-5 cmake .

to use a non-default compiler. However, these settings of CC do not get passed on to (some?) dependencies with the superbuild. It currently only works if you do

    export CC=gcc-5
    export CXX=g++-5
  cmake .

[2017-05-02 06:29] KrisThielemans commented on #13
fixed. global section had to be under env

[2017-05-02 06:29] #13 closed

[2017-05-02 06:32] KrisThielemans opened #15 "Gadgetron needs boost-python"
There seems to be a mistake in Gadgetron's CMake files such that it errors-out if boost-python is not found (as opposed to not building its Python support). So we need to compile this anyway at present.

[2017-05-02 06:32] KrisThielemans commented on #12
boost-python is currently required after all #15

[2017-05-02 07:53] KrisThielemans commented on #15
we actually already build boost-python. However, we don't test for any boost components when using the system boost.

[2017-05-02 07:59] KrisThielemans commented on #9
Has extra dependencies:
[code]
We can add these to the list of required installed packages at present

[2017-05-02 08:04] KrisThielemans opened #16 "make location of output of SuperBuild consistent"
some projects (probably CMake-ones) have their build in `x-prefix/src/x-build` as opposed to `x-build`.

Also, INSTALL is currently hard-wired but should honour `CMAKE_INSTALL_PREFIX`.

[2017-05-02 09:29] casperdcl opened #17 "travis improvements"
- [x] Put the Travis link on the SIRF github site
- [x] Put the Travis link on the SuperBuild github site
- [x] Sort-out the Travis ‘matrix’ when enabling both Linux and osx
- [x] Trigger the Travis build when SIRF (or other CCPPETMR forks) changes.
(see [SIRF#69](https://github.com/CCPPETMR/SIRF/pull/69), [SIRF#71](https://github.com/CCPPETMR/SIRF/pull/71))

[2017-05-02 09:30] casperdcl commented on #17
From @KrisThielemans' email:

Dear all

 

I’ve spent quite a few painful hours to get TravisCI  up and running for SIRF (using the SuperBuild).

 

For those who don’t know Travis, I’ve attached a nice email from David Volgyes to the STIR list when he enabled it for STIR. It applies verbatim to SIRF. This means that I have quite a lot of confidence in SIRF and the superbuild to work on Linux. And

[2017-05-02 23:56] KrisThielemans commented on #17
I've added the Travis link in the SIRF-Superbuild README.md. Would be best to add to SIRF as well.

[2017-05-04 21:53] KrisThielemans opened #18 "potential version conflicts with system libraries"
Currently, some packages (such as GTest) can have conflicts if a system library is found, but we want to use our own.

[email sent to cmake@cmake.org](http://cmake.3232098.n2.nabble.com/avoiding-finding-system-libraries-motivation-is-superbuilds-td7595452.html)

[2017-05-04 21:54] KrisThielemans opened #19 "rename googletest to GTest"
CMake uses `find_package(GTest)`. Best to stick with that

[2017-05-04 22:53] KrisThielemans opened #20 "prefer existing system version of dependencies?"
Currently `USE_SYSTEM_BOOST` et al. default to `OFF`. This gives perfect control over versions, but causes long build times and potentially frustrates many people.

Opinions?

Please add your reaction via the ["reaction button"](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) at the top.

[2017-05-05 06:42] KrisThielemans commented on #18
Fixed GTest with 32e404df2892b3a9acdd99636bf930f6f7ab16a8. Rest by ok so shifting milestone.

[2017-05-05 09:47] KrisThielemans opened #21 "dis/enable ROOT support in STIR by default"
provide option to enable for advanced users

[2017-05-05 15:07] KrisThielemans commented on #18
GTEST_ROOT is now correct but FindGTest.cmake is still finding an existing library first unfortunately, leading to linking errors if that version is older than the one we built.

[2017-05-08 23:24] KrisThielemans commented on #18
Robert Maynard at kitware.com suggests

@paskino, could you give that a try? e.g. remove the BOOST_ROOT variable pass-through, and see if it still picks up our files as opposed to the system ones. please also test for GTest (copy libgtest.a to /usr/local/lib. it should NOT be found, but will be at present)

[2017-05-11 11:36] bathomas opened #22 "new repo to CCPPETMR-SuperBuild"

[2017-05-11 14:36] paskino commented on #20
Gadgetron now builds with system boost libraries. We should use one, I guess.

[2017-05-13 00:20] casperdcl commented on #17
looks like this is almost ready, then? Just need the badge on SIRF?

[2017-05-13 09:17] KrisThielemans commented on #22
As discussed in our 14th software meeting. Motivation: the SuperBuild builds more than SIRF (gadgetron, ismrmrd-to-siemens etc).

Note that this updating of Wiki and other documentation

[2017-05-13 09:22] KrisThielemans opened #23 "add documentation on wiki etc how to use system libraries"
Some people might prefer to use existing libraries (see #20). We need to explain how to do this.

[2017-05-13 09:24] KrisThielemans commented on #20
Discussed in the 14th Software Meeting. General feeling was that it's better to keep complete control by default, i.e. have specific versions of dependencies. As external libraries are unlikely to exactly match what version we'd specify, it's probably not worth checking existence of matching-external libraries first (but would still be good to add at later stage).

I've created a new issue to docu

[2017-05-13 09:24] #20 closed

[2017-05-13 09:30] KrisThielemans commented on #17
Not sure how the 2 last boxes (travis matrix and build triggering) got ticked. That I do that by mistake? (This seems a problem with the todo-list. there seems no way to find out when/why they get ticked by who).

Please untick unless you know better...

[2017-05-13 09:57] KrisThielemans opened #24 "add dependency version control"
See [discussion started on the mailing list](https://www.jiscmail.ac.uk/cgi-bin/webadmin?A1=ind1705&L=CCP-PETMR-DEVEL&X=6D4798181E9CD7937D&Y=k.thielemans%40ucl.ac.uk#7)

Currently the SuperBuild uses master at our CCPPETMR forks of dependencies such as STIR and Gadgetron. This means that it is impossible to go back to a specific version with all dependencies that same as when we released.

One pos

[2017-05-13 15:19] casperdcl commented on #17
Hi Kris, yes - you can't tell when things get ticked/unticked. I thought the last two were complete so ticked them. Haven't actually looked at the .travis.yml file or configuration so don't know. Unticked now.

[2017-05-13 15:32] casperdcl commented on #24
I think there are a few options:

1. have `SuperBuild/version_config.cmake` and `SIRF/version_config.cmake`
    + superbuild refers to SIRF tag/commit hash. Slightly inconvenient for developers
    + SIRF refers to its own dependencies
    + SIRF CI triggered by pushes to `SIRF:master`
    + SuperBuild/VM CI triggered by pushes to `SuperBuild:master`
2. have `SuperBuild/version_config.cmake`
    +

[2017-05-13 15:32] casperdcl commented on #24
I vote for 3.

[2017-05-15 13:21] paskino commented on #18
I've tested right now.
  1. Installed system boost
  2. removed -DBOOST_ROOT

it found the **system** boost. So the BOOST_ROOT variable seems necessary.

[2017-05-15 15:30] KrisThielemans commented on #18
did you add `CMAKE_PREFIX_PATH` in the External_SIRF.cmake ? (or whatever project you tried)

[2017-05-16 09:23] paskino commented on #18
I tried it on Gadgetron. The `CMAKE_PREFIX_PATH` was already [there](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/superbuild-test/SuperBuild/External_Gadgetron.cmake#L65).

[2017-05-16 13:21] KrisThielemans commented on #18
ah well. indeed, this was already there when we tried with David. I'll reply to the CMake list.

[2017-05-17 15:08] KrisThielemans opened #25 "use CMAKE_INSTALL_PREFIX"
at present, we hardwire the location of where the dependencies are installed. I believe that the difficulty is that we cannot set a default `CMAKE_INSTALL_PREFIX` although I just found
https://cmake.org/cmake/help/latest/variable/CMAKE_INSTALL_PREFIX_INITIALIZED_TO_DEFAULT.html

@bathomas was there any other reason we don't use do this?

[2017-05-17 17:18] bathomas commented on #25
No other reason. Just a legacy from when I started developing the SuperBuild.

[2017-05-18 15:44] paskino opened #26 "setup environment variables at the end of the SuperBuild"
Make the SuperBuild create a “env_ccppetmr.sh” (and .csh?), and later even a Windows version, all installed in the `${INSTALL}/bin` directory. Then we tell people to run the SuperBuild, and source the appropriate .sh/.csh, either from the command line or from their .bashrc (or whatever the appropriate file is for the shell they are using).

This should be easy enough using
https://cmake.org/cmake/

[2017-05-19 16:20] KrisThielemans commented on #22
too dangerous to do this now. We'll postpone to after 0.9.0 release.

[2017-05-19 19:39] KrisThielemans commented on #26
fixed at 27023162d8a6d26143307090917875ec6f0455e3

[2017-05-19 19:39] #26 closed

[2017-05-20 14:16] KrisThielemans commented on #14
This might help for the CMake projects (but not for configure etc)

http://stackoverflow.com/questions/32744788/forwarding-current-compiler-to-externalproject?rq=1

[2017-05-20 15:12] #25 closed

[2017-06-30 15:19] KrisThielemans commented on #24
This was discussed at the Software tcon 15 June 2017 (minutes to get into the website). Brief summary:

- A general preference was felt for option 3 presented by Casper (specify git hashes in SIRF/version_config.cmake), however this conflicts with the current SuperBuild mechanism which builds STIR etc before it even clones SIRF. Option 2 (SuperBuild/version_config.cmake) is therefore our recommend

[2017-06-30 15:23] KrisThielemans commented on #24
version_config.cmake file might look like this
[code]

[2017-07-02 16:46] KrisThielemans commented on #8
This link seems to give a mechanism to pass all cache variables
https://stackoverflow.com/questions/25533831/passing-cmake-variables-to-externalproject-add
I think we need something like this as we can never know which particular variables need to be passed on.

[2017-07-02 18:03] KrisThielemans commented on #7
With CMake 3.9-rc4 I successfully built with pre-downloaded Boost, HDF5 and FFTW (as per the [wiki)](https://github.com/CCPPETMR/SIRF/wiki/Installation-instructions) and at commit 0eabb888fd22412a1fc418063c08ed67c9adc463

(command lines were in Powershell)
[code]

[2017-07-03 00:53] KrisThielemans commented on #7
Some difficulties encountered with HDF5:
- Anaconda comes with a very old HDF5 which has a bug in its hdf5-config.cmake (pointing to a non-existent `c:\aroot` folder for zlib etc)
- HDF5 1.10.0-patch1 has a bug that it cannot be installed with RelWithDebInfo (it has incorrect info for installing .ptb files). This is resolved in 1.10.1.
- it seems impossible to force CMake to find a specific versio

[2017-07-03 07:30] KrisThielemans commented on #7
Just checked that adding `-DHDF5_USE_STATIC_LIBRARIES=1` still needs a change to FindHDF5 as the relevant lines there are only enabled on Unix. Fix is in
https://gitlab.kitware.com/cmake/cmake/merge_requests/1023

So, sadly it seems that unless we can force CMake to find out Config-install (see https://gitlab.kitware.com/cmake/cmake/issues/17029), we can only build with an installed HDF5 in Progra

[2017-07-03 09:17] Evan27 opened #27 "SIRF-SuperBuild Ubuntu 17.04 installation failed"
Hi all,
I tried to install the SIRF-SuperBuild on my Linux (Ubuntu 17.04) box following the instractions from the web page: https://github.com/CCPPETMR/SIRF/wiki/SIRF-SuperBuild-Ubuntu-16.04
I had to install some packages before but when I run the steps:
cmake .
make
in section 3 I get en error message when the configuration of gadgetron is performed without any obvious reason.
This is what I get:

[2017-07-16 22:56] KrisThielemans opened #28 "previous install can cause compilation problems for newer versions"
external packages are installed (by default in `INSTALL`, and therefore include files in `INSTALL/include`). This works fine at first build. However, when the include files of one of the external packages get updated, it is possible that the installed versions get found first (as opposed to the include files of the external package), resulting in compilation failures or segmentation faults.

### E

[2017-07-16 23:01] KrisThielemans commented on #28
STIR bug filed in https://github.com/UCL/STIR/issues/85

[2017-07-27 09:42] paskino commented on #24
Do we have a list of required versions for all the dependencies?

I found the following.

Armadillo => 7.800.2 (release)
Boost => 1.63 (release)
FFTW3 => 3.3.5 (release)
Gadgetron => ?? (git)
googletest (rename to Gtest)
HDF5 => 1.10.0-patch1 (release)
ISMRMRD => ?? (git)
SIRF => release-0.9.0 (git)
STIR => ?? (git)
SWIG => 3.0.12 (release)

So I just miss STIR, Gadgetron and ISMRMRD.

[2017-07-28 15:22] paskino commented on #24
would be closed with https://github.com/CCPPETMR/SIRF-SuperBuild/pull/29

[2017-07-31 15:00] paskino opened #30 "Write FindSTIR and FindISMRMRD"
SIRF build actually fails because it does not find STIR and ISMRMRD and therefore it builds only the utils.

[2017-07-31 15:39] KrisThielemans commented on #30
hi. This has to be new behaviour in your branch. It all worked before. Also, writing Find packages isn't necessary as both of this have "config.cmake" files. If CMake doesn't find it, it means setting STIR_DIR to where the STIRConfig.cmake file is located (and same for ISMRMRD).

[2017-08-04 19:39] KrisThielemans commented on #30
This was because of a mistake in the branch, so closing this issue.

[2017-08-04 19:39] #30 closed

[2017-08-04 20:02] KrisThielemans commented on #27
This is an upstream problem. New issue created. https://github.com/gadgetron/gadgetron/issues/524

[2017-08-11 19:15] KrisThielemans commented on #24
@paskino, it seems we need a few more changes after PR #29. Current `version_config.cmake` has
[code]
This means that the option `GIT_TAG_SIRF` actually doesn't do anything. The first few lines need to set the default tag, the option then needs to set the one to be actually used (presumably `SIRF_TAG`).

Also, I believe we need these options for STIR, Gadgetron and ISMRMRD as well. Otherwise we ca

[2017-08-15 13:01] paskino commented on #24
I totally agree with you.
I understand the DEVEL_BUILD option would make us use the latest release (master).
But I still do not understand what is the meaning of the GIT_TAG_SIRF, and default_SIRF_GIT_TAG, which aren't used anywhere.

I can clearly add the project url as advanced variable to be set here. Is this what you mean?

[2017-08-18 10:29] paskino opened #31 "Set environment variables on build"
After build the user must manually source the env_ccppetmr.sh file to set the environment variables.

Also Gadgetron doesn't have a default configuration, so it will not start.

[2017-08-18 10:30] paskino commented on #31
Fixed with https://github.com/CCPPETMR/SIRF-SuperBuild/commit/963cf4b8488b92be2d513741ed78163d9058eb80 and https://github.com/CCPPETMR/SIRF-SuperBuild/commit/cc5ac7368a2b3ea45ee8e06ff2e06e06272b0695

[2017-08-18 10:55] KrisThielemans commented on #31
Hi
I'm afraid I'm not happy with these commits. First of all, they are on master, which means we cannot discuss/test them first. @paskino, please revert and submit a PR instead.

In any case, the environment variables fix only applies to users who happen to use bash. Moreover, it will modify their .bashrc (which I'd be personally very reluctant to allow). And it will append the line at every build

[2017-08-18 11:00] bathomas commented on #31
I agree with @KrisThielemans regarding ```.bashrc```. If you mess up someone's ```.bashrc``` they could be unable to log in to a remote system for example. Perhaps consider ```.profile``` if this really ***must*** be done.

[2017-08-18 11:42] paskino commented on #31
I just followed the lines set in the https://github.com/CCPPETMR/CCPPETMR_VM/blob/master/scripts/UPDATE.sh script.

There we created a .sirfrc file and modified the .bashrc. But maybe you were happy there because it was a virtual machine?

After the first build I believe that the system should work, which is not the case now. Users must configure Gadgetron and source the environment variables.
For

[2017-08-18 12:35] KrisThielemans commented on #31
thanks!

yes, agreed. On the VM we can do whatever we like :-;

I think that "build and immediatelly run" is a large ask. Some people might want to build in various places and try different versions. I don't think we should set the path for them. It's hard to do cross-platform anyway.

The Gadgetron config file is a different story. Possibly we can copy it if nothing exists yet. I'd like to get th

[2017-08-21 08:41] paskino commented on #31
For Gadgetron: indeed that is what I've done: if the user doesn't already have e gadgetron.xml it is created by simply copying gadgetron.xml.example to gadgetron.xml https://github.com/CCPPETMR/SIRF-SuperBuild/blob/ctest/SuperBuild.cmake#L109.

About the bashrc, the question is, are we entitled to change it without user's permission?

[2017-09-14 11:03] paskino commented on #31
After build the file .sirfrc is created in the user's home.
Currently it is not added to bashrc.
Default Gadgetron configuration is not created.
https://github.com/CCPPETMR/SIRF-SuperBuild/commit/d1451931e2524519e3c7b2633a3770dce2035a9d

[2017-09-14 11:03] #31 closed

[2017-09-14 13:06] paskino commented on #24
I created a new branch (version_control) and with https://github.com/CCPPETMR/SIRF-SuperBuild/commit/e66e17c48ceea824d9a9d4d4b0bb536d4b205ced it is now possible to use the option DEVEL_BUILD to set the URL/TAG of Gadgetron, Stir and ISMRMRD to upstream/master. I've tested on my VM and it builds on travis.

I wait the merge of the https://github.com/CCPPETMR/SIRF-SuperBuild/pull/32 before issuing a

[2017-09-20 12:55] paskino opened #37 "Travis builds with system SWIG, HDF5 and FFTW3"
I noticed that in the [.travis.yml](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/.travis.yml#L22) we use
`EXTRA_BUILD_FLAGS="-DUSE_SYSTEM_SWIG=ON -DUSE_SYSTEM_HDF5=ON -DUSE_SYSTEM_FFTW3=ON`

Is that correct? Should not we use the SWIG, HDF5 and FFTW3 that are built as part of the SuperBuild? Or these settings do not do anything?

[2017-09-20 13:59] KrisThielemans commented on #24
Fixed by PR #36

[2017-09-20 13:59] #24 closed

[2017-09-20 14:54] KrisThielemans opened #39 "Running Travis on SIRF branch or PRs"
We’ve merged Edo’s version-tracking branch on the SuperBuild. There’s now a way to use specify BUILD_DEVEL=On to use the master branch of STIR/ISMRMRD/Gadgetron/SIRF. This is tested in Travis as well now.

Now we need a way to test a specific branch on SIRF before we merge, ideally we can also do that with a PR. Any ideas anyone?

See also #17

[2017-09-20 15:05] casperdcl commented on #37
`ccache`?

also note we can use https://docs.travis-ci.com/user/docker/ so perhaps cache docker layers.

and [`travis_wait`](https://docs.travis-ci.com/user/common-build-problems/#My-builds-are-timing-out)

[2017-09-21 12:50] KrisThielemans opened #40 "sourcing env_ccppetmr.csh can let it abort"
I get for instance
[code]
Presumably would be the same of `LD_LIBRARY_PATH` isn't set.

[2017-09-21 15:25] KrisThielemans commented on #40
Actually, csh aborts after the error, so the set-up is incomplete.

I haven't tested what the `.sh` file does, but it might have the same problem.

[2017-09-27 06:30] KrisThielemans opened #42 "env_ccppetmr.*sh sets wrong SIRF_PATH in out-of-source build"
Currently using
[code]
but this is incorrect if we build somewhere else from where we cloned. Presumably
[code]

[2017-09-27 07:36] KrisThielemans opened #43 "Handle different options for different versions of dependencies"
With the version tracking, we can use the SuperBuild to use different versions of SIRF, STIR etc. However, some CMake options will be version specific. Example, https://github.com/CCPPETMR/SIRF/issues/41 will need `Matlab_ROOT_DIR` as opposed to `MATLAB_ROOT`. The SuperBuild needs to know about this, but how would it?

In principle, we could keep a list of commits where the option changed, and the

[2017-09-27 07:45] KrisThielemans opened #44 "merge HDF5_DIR_fixes branch"
there are some commits here that were actually in the release.

[2017-09-27 07:56] KrisThielemans commented on #43
the `rev-list` is essentially impossible in the SuperBuild anyway as we have don't explicitly clone here, but rely on `ExternProject_Add`

[2017-09-27 08:58] KrisThielemans opened #46 "add MATLABPATH to env_ccppetmr.*sh"
It'll make people's life easier if SIRF gets added to the Matlab path automatically. I suggest that we set `MATLABPATH`, see https://uk.mathworks.com/help/matlab/matlab_env/add-folders-to-matlab-search-path-at-startup.html. I don't see any downsides.

[2017-09-27 10:23] paskino commented on #42
Yes! I found that out yesterday. I've replaced it with `$SOURCE_DOWNLOAD_CACHE` which is a copy of `$CMAKE_CURRENT_BINARY_DIR`

[2017-09-27 11:05] paskino commented on #42
Closed with https://github.com/CCPPETMR/SIRF-SuperBuild/commit/4cf709b8f83d82fbb633871350db4471cbbeca6f

[2017-09-27 11:05] #42 closed

[2017-09-27 13:21] paskino commented on #46
Closed with https://github.com/CCPPETMR/SIRF-SuperBuild/commit/e167bc77feb039acdac93f6fef4658265b225900

[2017-09-27 13:21] #46 closed

[2017-09-29 11:10] KrisThielemans opened #47 "Dis/Enable ITK support in STIR"
STIR compilation fails with too old ITK. See https://github.com/UCL/STIR/issues/114
we'll disable ITK support in STIR for now but this will have to be re-enabled later once STIR is fixed.

[2017-09-29 13:11] KrisThielemans opened #48 "problems with finding Python"
CMake's `FindPythonInterp` doesn't necessarily find the Python that you expect. this currently breaks Travis for Python 3.5.

see comments in #32 for potential resolution

[2017-09-29 13:42] #40 closed

[2017-09-29 17:21] KrisThielemans commented on #44
devel is now merged. Other things on this branch are for Windows and need to be reviewed, so moving this to v1.0.

[2017-10-02 06:20] KrisThielemans commented on #27
I've attempted to fix this. Can you please try to build with
[code]
(in addition to any other settings you need).

[2017-10-02 16:39] KrisThielemans commented on #48
hopefully fixed with de8179e4341a86a61fee4af6a81a5e5662bf18f8

[2017-10-02 21:14] KrisThielemans commented on #17
Seems that the straightforward extension (640383c4b4a1e82e5b951da806002902a80b45a1) of using python on osx doesn't work. Message is the same as
https://github.com/travis-ci/travis-ci/issues/4729, which leads to a link with some helpful suggestions at the bottom, which is our current strategy.

[2017-10-02 21:26] KrisThielemans commented on #17
On OSX with default compiler, we currently get (with `USE_SYSTEM_BOOST=On`)
[code]
see https://api.travis-ci.org/jobs/282405991/log.txt?deansi=true.
boost version seems 1.65.1. This might be a new bug introduced in 1.64.0 (older versions explicitly didn't use this line, see e.g. http://www.boost.org/doc/libs/1_63_0/boost/thread/pthread/timespec.hpp).

[2017-10-10 22:31] KrisThielemans opened #49 "overlap between EXTERNAL_PROJECT_BUILD_TYPE and CMAKE_BUILD_TYPE"
these 2 are the same in our case so remove the former if possible

[2017-10-10 22:56] KrisThielemans opened #50 "add USE_SYSTEM_GTest variable"
Do this after fixing #19

[2017-10-11 01:15] KrisThielemans opened #51 "changing version_config.cmake doesn't change git tags once already compiled"
version_config.cmake sets `SIRF_TAG` as cached variables. However, this means that once you build, they never get changed (unless you force it). In particular, doing a `git pull` might change `version_config.cmake` but that still won't change the cahced variables, so you'll be building the same version.

The only way around it is to run cmake again, e.g.
[code]
This is in particular a problem for

[2017-10-11 08:39] casperdcl commented on #51
I thought the VM would always have `..._TAG=master` and if people manually change that then it's reasonable to expect them to manually upgrade.

[2017-10-11 08:54] KrisThielemans commented on #51
at present, we set it to a specific tag for SIRF. We could use master probably (people might expect that `update_VM.sh` just gets them the most recent development version) but then the same problem still holds for `Gadgetron_TAG` etc. I don't think we can run the risk of picking up the most recent Gadgetron or STIR, but on the other hand, SIRF-master might need a newer version of Gadgeton/STIR. Ou

[2017-10-11 09:19] casperdcl commented on #51
related to #4

[2017-10-11 09:20] casperdcl commented on #51
well we could include re-running cmake as part of the update script

[2017-10-11 10:35] KrisThielemans commented on #51
no, I don't think this is related to #4 after all. I've checked the dependencies generated by CMake and version-config.cmake et al are listed.
Indeed, running cmake itself doesn't change anything to the checked-out clones, unless you change cached variables of course.

[2017-10-12 12:24] paskino commented on #16
indeed the default location for external projects is

TMP_DIR      = <prefix>/tmp
STAMP_DIR    = <prefix>/src/<name>-stamp
DOWNLOAD_DIR = <prefix>/src
SOURCE_DIR   = <prefix>/src/<name>
BINARY_DIR   = <prefix>/src/<name>-build
INSTALL_DIR  = <prefix>

So far we only force the source directory to be <name> and contained in the build directory.
A better option IMO would be to have:

[code]

https://

[2017-10-12 13:34] KrisThielemans commented on #27
fixed with updates accepted by Gadgetron

[2017-10-12 13:34] #27 closed

[2017-10-12 13:56] KrisThielemans commented on #16
yes. This not a bad idea. It will be potentially somewhat confusing/dangerous though to have the superbuild build in
[code]
but writes its sources in
[code]
etc. We certainly cannot have that by default in the SuperBuild. We could have a new CMake variable `SRC_INSTALL_DIR` ? Then on the VM or Docker we can set that according to your suggestion.

I also agree with your `install` suggestion, but ag

[2017-10-13 09:54] KrisThielemans commented on #16
On VM, target will be something like
[code]

[2017-10-31 08:57] paskino opened #52 "PYTHON_DEST is not set to the install directory"
[`PYTHON_DEST`](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_SIRF.cmake#L45) does not point to the same directory as [`PYTHONPATH`](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/env_ccppetmr.sh.in#L17)

[2017-11-17 10:43] paskino commented on #51
We  could we use the rebuild_cache [target ](https://cmake.org/runningcmake/)

[2017-11-17 23:57] KrisThielemans opened #56 "building boost probably needs Python version"
I guess we need something like
[code]

[2017-11-17 23:59] KrisThielemans opened #57 "Linux link failure when using python 3.5"
current link errors are like
[code]
This is with `USE_SYSTEM_BOOST=On` but using a virtualenv for Python 3.5 (Python 2.7 works). It seems Gadgetron needs to link with `libboost_python-py35.so`.

[2017-11-19 08:17] paskino commented on #52
This issue is a CMake cache issue.

[2017-11-20 11:17] evgueni-ovtchinnikov commented on #52
I just have downloaded and imported again SIRF_0.9.2_Ubuntu16.04_VM, run update_VM.sh and ccmake after configuring showed PYTHON_DEST to be /home/surfuser/devel/SIRF-SuperBuild/INSTALL/python, whereas PYTHONPATH is /home/surfuser/devel/install/python.

So, the issue is apparently still there ☹.

From: Edoardo Pasca [mailto:notifications@github.com]
Sent: 19 November 2017 08:18
To: CCPPETMR/SIRF-Su

[2017-12-03 17:59] casperdcl commented on #57
possibly a gadgetron issue? Master's still failing: https://travis-ci.org/CCPPETMR/SIRF-SuperBuild

I've also just added https://travis-ci.org/CCPPETMR/SIRF (PR: https://github.com/CCPPETMR/SIRF/pull/69) which tried to use `SuperBuild:master` and `SuperBuild:v0.9.2` to build `SIRF:coverage`

[2017-12-03 20:29] KrisThielemans commented on #57
This gadgetron linking error will disappear onc we update its tag to later than the merge with https://github.com/gadgetron/gadgetron/pull/552, i.e. at least https://github.com/gadgetron/gadgetron/commit/21d584927ee35c8d351a0bd72284b472da555d57. However, I see a few gadgetron bug fixes later which might be useful for us, e.g. https://github.com/gadgetron/gadgetron/commit/6a0482e0cbcf5bfea3a55fdd11

[2017-12-04 13:34] evgueni-ovtchinnikov commented on #57
successfully tested with the gadgetron commit e23da883867819947fe16ca6ab9bf467079b7369 - is it recent enough?

[2017-12-04 20:40] KrisThielemans commented on #57
as I said above  (but rather unclearly!), please test with https://github.com/gadgetron/gadgetron/commit/e7eb430673eb3272e8a821b51750c0a2a96dafed

[2017-12-04 23:47] casperdcl commented on #57
still failing: https://travis-ci.org/CCPPETMR/SIRF/builds/311558374

[2017-12-05 07:51] KrisThielemans commented on #57
All PET errors seem to be of the form
[code]
That's of course because you switched to `nosetest`  but didn't adapt the ctest lines yet (the `nosetests` at the end do work ok.

There's one MR test that fails
[code]
The exception worries me (we've had a discussion on something that cannot be caught before), can't remember where). @evgueni-ovtchinnikov does this test need `ismrmrd-python-tools`?

[2017-12-05 09:58] evgueni-ovtchinnikov commented on #57
successfully tested with the gadgetron commit e23da883867819947fe16ca6ab9bf467079b7369 - is it recent enough?

[2017-12-05 10:03] evgueni-ovtchinnikov commented on #57
"MR_TEST3" start time: Dec 04 22:57 UTC
    Output:
    ----------------------------------------------------------
    Exception ignored in: <bound method pTest.__del__ of <pUtilities.pTest object at 0x7fb2982364a8>>
    Traceback (most recent call last):
      File "/home/travis/build/CCPPETMR/SIRF-SuperBuild/INSTALL/python/pUtilities.py", line 216, in __del__
        raise ValueError("%d failure

[2017-12-05 11:10] evgueni-ovtchinnikov commented on #57
as I said above (but rather unclearly!), please test with gadgetron/gadgetron@e7eb430

Done, all well. Should I push?

[2017-12-05 11:27] KrisThielemans commented on #57
yes please

[2017-12-05 11:50] evgueni-ovtchinnikov commented on #57
As for
    ismrmrd-python-tools not installed
    it is not an error but just warning - I will move it to its proper place so that it does not pop up every time pGadgetron is imported.

Some clarification is needed: this is _normally_ just a warning, which, however, becomes a fatal error if the user's script tries to compute coil sensitivity maps using Inati method - so, I now moved (on devel) the

[2017-12-05 11:58] evgueni-ovtchinnikov commented on #57
as I said above (but rather unclearly!), please test with gadgetron/gadgetron@e7eb430

        Done, all well. Should I push?

    yes please

Done

[2017-12-05 12:02] evgueni-ovtchinnikov commented on #57
As for
        ismrmrd-python-tools not installed
        it is not an error but just warning - I will move it to its proper place so that it does not pop up every time pGadgetron is imported.

    Some clarification is needed: this is normally just a warning, which, however, becomes a fatal error if the user's script tries to compute coil sensitivity maps using Inati method - so, I now moved (on

[2017-12-11 07:14] KrisThielemans commented on #15
we now disable Gadgetron's Python support, so no longer need boost-python. @paskino can you check if we're still building it (note that the list of components to build are in 2 places, one for Windows and one for the rest)

[2017-12-11 07:15] KrisThielemans commented on #8
this has been (mostly) implemented a while ago.

[2017-12-11 07:15] #8 closed

[2017-12-11 07:16] KrisThielemans commented on #4
this must have been a fluke or CMake bug. The `External*` files are listed as dependencies now.

[2017-12-11 07:16] #4 closed

[2017-12-11 07:19] KrisThielemans commented on #17
The remaining major issues (about SIRF) will be fixed by https://github.com/CCPPETMR/SIRF/pull/69. so this could be closed once that is merged.

[2017-12-11 07:32] KrisThielemans commented on #17
Currently OSX builds fail again as pip is no longer installed in the system python. I'm trying to fix this for STIR https://github.com/UCL/STIR/pull/127, so let's wait for that.

@bathomas  @rijobro do you know if this is a Travis-specific issue, or do we need to update the installation instructions on the wiki?

[2017-12-13 23:57] paskino commented on #52
Is this still relevant?

[2017-12-13 23:59] #37 closed

[2017-12-14 00:04] paskino commented on #16
I believe this is already implemented.

[2017-12-14 06:26] KrisThielemans commented on #16
not really done. Example: SIRF source sits in the root-dir, but its actual build sit in `SIRF-prefix/src/SIRF-build` (not very logical). For non-CMake packages, this is different again.

[2017-12-14 10:18] paskino commented on #15
Yes we are building it. For Unix is easy to remove the python module:
https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_Boost_configureboost.cmake#L26
For Windows I don't quite understand where do we set the boost modules to build.

[2017-12-14 11:04] evgueni-ovtchinnikov commented on #52
For the current VM, it is. But you were going to make a new one, were you not?

[2017-12-16 08:52] KrisThielemans opened #60 "adding PYTHON_EXECUTABLE to env_ccppetmr.*?"
With Python there's considerable scope for running the wrong version, i.e. not the one with which SIRF was compiled. We could reduce the chances for this happening by add a variable to our environment variables and tell people to use that one (or at least check what it is). could be called `SIRF_PYTHON_EXECUTABLE` or so.

Same for Matlab of course if multiple versions are installed.

what do peopl

[2017-12-16 11:19] casperdcl commented on #60
https://stackoverflow.com/questions/29245558/how-to-link-with-python3-libs-with-cmake

[2017-12-16 13:52] casperdcl commented on #44
`USE_SYSTEM_HDF5=OFF` now fails https://travis-ci.org/CCPPETMR/SIRF/jobs/317346200

[2017-12-16 14:57] KrisThielemans commented on #44
download failed. @bathomas has had similar problems recently. seems their website isn't very reliable (somewhat amazing for the HDF5 group). I guess we could grab it from somewhere else, even make it part of our release.

[2017-12-16 15:07] KrisThielemans commented on #60
possibly some confusion. My comment wasn't about CMake. I think we have that a bit better under control now by setting `PYTHON_EXECUTABLE` etc.

Instead, my comment is then afterwards, for the user of SIRF. They install everything properly, but then when they actually use it with the wrong python, it'll fail/crash in mysterious ways. Hope that clarifies this issue.

[2017-12-16 15:27] casperdcl commented on #60
ah, I see. Well if they don't play around with multiple python versions, this shouldn't be a problem (like `travis` with `language: python`) otherwise, if they do, then they should be happy setting up the environments properly

[2017-12-16 15:29] casperdcl commented on #60
I wouldn't override their `$PYTHON_EXECUTABLE` - might annoy people?

[2017-12-16 16:20] KrisThielemans commented on #60
People often have multiple python versions, even if they don't know. especially on Mac (there's a half-broken system python, and the one installed by `brew` for instance). Or python 2 and python 3.

Agreed not to override `PYTHON_EXECUTABLE`. what about introducing `SIRF_PYTHON_EXECUTABLE` as I suggested?

[2017-12-16 17:33] casperdcl commented on #60
yes, sounds fine to me

[2017-12-16 17:50] KrisThielemans commented on #60
@paskino could you take care of this (for both Python and MATLAB), and also include it in the relevant documentation (the wiki currently?)

[2017-12-16 18:51] casperdcl commented on #44
just restarted, seems to be downloading again now

[2017-12-18 23:43] KrisThielemans commented on #15
For Windows, it is in `External_Boost_buildboost.cmake.

[2017-12-18 23:47] KrisThielemans commented on #12
As mentioned in #15, we currently switch Gadgetron's Python and Matlab support off. That saves us compilation/compatibility headaches. If we want to enable this later, then we'd have to introduce CMake variable like `Gadgetron_BUILD_PYTHON_GADGETS`. However, then we also need to be able to tell the boost dependency that we do need boost-python (see #5), but that's probably not trivial.

[2017-12-19 00:58] KrisThielemans commented on #7
Started testing with CMake 3.10.1 (which has the relevant fixes for `FindHDF5.cmake`).

Current problems:
1. had to fix detection of x64
2. `CMAKE_INSTALL_PREFIX` was not reset from the default ([should normally have been set ok](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/a12479c8b024345b180b55c84ba3a3f785992e88/SuperBuild.cmake#L36))
3. `USE_SYSTEM_HDF5` was not correctly honoured (When I r

[2017-12-19 01:06] KrisThielemans commented on #21
It is disabled [now](f1b598b068a1f0374e5d4ef3bcc040114d7796b9). we'll provide the option to enable later.

[2017-12-19 01:38] KrisThielemans commented on #7
confirmed that when deleting the cache, configuring, and then clicking `USE_SYSTEM_HDF5` does work as expected (also for `CMAKE_INSTALL_PREFIX`). Not sure how to reproduce the above problems 2 and 3 so I am going to ignore them...

[2017-12-19 01:41] KrisThielemans commented on #7
CTest fails because config option isn't passed on:
[code]

[2017-12-19 02:11] KrisThielemans commented on #7
Going to the relevant subdir, PET tests work after setting `PYTHONPATH`! In Powershell
[code]
MR tests fail with error
[code]
This means that a DLL isn't in the Path. Sadly, Windows doesn't say which one. Obvious candidate is the ISMRMRD DLL but the following didn't help
[code]
@evgueni-ovtchinnikov , do you know how to set the PATH correctly?

[2017-12-19 02:20] KrisThielemans opened #61 "deleting CMake Cache in the superbuild doesn't wipe the slate"
I'm used to deleting the cache (via the CMake GUI, or by hand by deleting `CMakeCache.txt`) to restart, but that doesn't work as expected: the "external" projects were still configured as before. So, resetting options might not actually work, which probably explains what I saw in #7 when rebuilding. This sounds a bit like a CMake bug to me, but not sure how to really test this. suggestions welcome

[2017-12-19 02:22] KrisThielemans commented on #44
caution, this branch is out-of-date. don't merge! I'll delete it, but need to check which HDF5 version was used.

[2017-12-19 10:06] paskino commented on #60
I think using conda would simplify. :D

I'll add $SIRF_PYTHON_EXECUTABLE to the env.

[2017-12-19 10:22] paskino commented on #15
All right, then for windows [isn't there](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_Boost_buildboost.cmake#L26) already.

[2017-12-19 10:34] KrisThielemans commented on #60
thanks. and MATLAB please. put it only in there if it's built. (might not be trivial)

[2017-12-20 08:21] KrisThielemans commented on #57
@evgueni-ovtchinnikov can this be closed?

[2017-12-20 09:42] #57 closed

[2017-12-20 09:46] rijobro opened #63 "Building with rpaths on OSX High Sierra"
With OSX, dynamic libraries can be referred to as (using the example of libboostfilesystem.dylib):
1. `libboostfilesystem.dylib`,
2. `@rpath/libboostfilesystem.dylib`, or
3. `/absolute/path/to/libboostfilesystem.dylib`.

Compilation against the first of these three causes linking errors on my version of OSX. This is possibly due to changes to SIP for High Sierra (or possible a problem specific to

[2017-12-20 20:50] KrisThielemans commented on #44
relevant bits are in HDF-fixes branch and will be merged, so closing this.

[2017-12-20 20:50] #44 closed

[2017-12-20 21:07] KrisThielemans commented on #7
Compilation problems should be fixed with #64.

Still need to fix above DLL problem, and also create `.bat` and `.PS1` files with appropriate settings. @evgueni-ovtchinnikov and @paskino can you find the correct settings and then creating the configure file?

[2017-12-20 21:10] KrisThielemans commented on #56
not necessary now as `boost-python` disabled, see also #15

[2017-12-20 21:18] KrisThielemans commented on #12
#64 reduced HDF5 build as suggested above. Need to introduce CMake options to enable them.

[2017-12-20 21:24] KrisThielemans commented on #51
@paskino can you document the solution we use on the VM, I guess in https://github.com/CCPPETMR/SIRF/wiki/Rebuilding-after-upgrades

[2017-12-20 21:46] KrisThielemans commented on #14
This should no longer be a problem for CMake projects by using `mark_as_superbuild`. So I guess only configure projects affected. The suggested solution should work, so we'll postpone.

[2017-12-20 23:32] KrisThielemans commented on #7
Currently tested with `USE_SYSTEM_BOOST=ON` only, but `USE_SYSTEM_FFTW` `ON/OFF`, `USE_SYSTEM_HDF5` `ON/OFF'.

old version of HDF5 (1.8.15) with out-of-date conda gives
[code]
This is resolved with a `conda update hdf5`.

[2017-12-21 01:07] KrisThielemans commented on #15
actually, we have these variables already, e.g. [`BUILD_GADGETRON_NATIVE_PYTHON_SUPPORT`](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/32831ceb546e6a7d61e9e50e6e728940a0758853/SuperBuild/External_Gadgetron.cmake#L56).
This means that we'd need to build `boost-python`, with lots of consequences, such as #56 and https://github.com/gadgetron/gadgetron/issues/550.
I suggest we disable `BUILD_GADGE

[2017-12-21 01:17] KrisThielemans commented on #7
Regarding ctest, need to call ctest in the SIRF-build with `-C ${CMAKE_CFG_INTDIR}` probably. However, this might then fail when using Makefiles as `CMAKE_CFG_INTDIR` might be set to `.` as opposed to empty (I checked that on the VM, both `ctest -C` and `ctest -C .` work fine though, so this should be safe). @rijobro, can you try this on Mac?

[2018-01-05 11:16] KrisThielemans commented on #15
will disable this for v1.0.

[2018-01-05 11:28] KrisThielemans commented on #51
@paskino, please add instructions on how to update. (i.e. do what you do on the VM)

[2018-01-05 11:31] KrisThielemans commented on #49
@bathomas check if `EXTERNAL_PROJECT_BUILD_TYPE` is exposedto the user as cached variable. if so, remove it from the cache. Set it from `CMAKE_BUILD_TYPE`

[2018-01-05 11:33] KrisThielemans commented on #22
@casperdcl can we discuss how this fits in with your unification strategy? Name for the unified project might not be `*SuperBuild` anyway.

[2018-01-05 11:34] KrisThielemans commented on #23
This just involves documenting to "tick" `USE_SYSTEM_BOOST` etc

[2018-01-05 12:28] casperdcl commented on #22
we can rename this to whatever we want, not sure what that has to do with unification...

1. CCPPETMR/SIRF
2. CCPPETMR/<whatever we call this>
3. CCPPETMR/VM (ideally to be merged into 2)

[2018-01-07 06:10] #9 closed

[2018-01-10 16:29] KrisThielemans commented on #49
closed via #65

[2018-01-10 16:29] #49 closed

[2018-01-11 10:47] paskino commented on #60
Commits on 21st december ending with acf0be4190daddb7041890ca689a40badf86fc64 should close this.

[2018-01-11 19:27] KrisThielemans commented on #60
yes indeed. thanks!
can you then add this to the documentation/wiki and close this issue?

[2018-01-12 11:26] KrisThielemans commented on #22
move CCPPETMR_VM files into this repo. move its wiki files to SIRF wiki.

[2018-01-12 11:34] KrisThielemans opened #67 "test siemens_to_ismrmrd in SuperBuild"
also add to wiki page.

if it works, enable in VM (cmake option).

[2018-01-12 12:14] paskino commented on #60
Added references to these environement variables on the wiki
https://github.com/CCPPETMR/SIRF/wiki/SIRF-and-MATLAB
and
https://github.com/CCPPETMR/SIRF/wiki/SIRF-and-Python

[2018-01-12 12:14] #60 closed

[2018-01-12 14:18] paskino commented on #50
Closed with https://github.com/CCPPETMR/SIRF-SuperBuild/commit/27e3580664a2408aa8941fee3e0ccdc5f3c5390c

[2018-01-12 14:18] paskino commented on #19
closed with https://github.com/CCPPETMR/SIRF-SuperBuild/commit/27e3580664a2408aa8941fee3e0ccdc5f3c5390c

[2018-01-12 23:34] KrisThielemans commented on #52
should all be fixed now, especially with #66.

[2018-01-12 23:34] #52 closed

[2018-01-13 00:29] KrisThielemans opened #70 "usage of `mark_as_superbuild`"
I don't think we use this properly.

# `SuperBuild.cmake` should add some variables to all subprojects

Indeed, it tries to do this (could do it for more of them I think). However, [it says](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/750467ab5c3024003923fea48e8a42dd83574c10/SuperBuild.cmake#L53)
[code]
I think this has to be
[code]
No idea why it would work now... but I think it does as [I p

[2018-01-16 10:02] #19 closed

[2018-01-16 10:02] #50 closed

[2018-01-19 11:32] KrisThielemans commented on #67
confirmed that this works. Needs documenting on the wiki/README.

[2018-01-19 11:42] KrisThielemans commented on #51
documented on the wiki. Try to resolve this later.

[2018-01-19 17:43] #39 closed

[2018-01-19 17:49] casperdcl opened #72 "CI: OSX"
fix osx builds on travis (depends on https://github.com/CCPPETMR/SIRF/pull/79, please put discussion & code there)

[2018-01-26 12:02] #67 closed

[2018-01-26 12:03] KrisThielemans commented on #15
it is disabled, so shifting milestone

[2018-01-26 12:05] #23 closed

[2018-01-26 12:26] KrisThielemans commented on #16
proposed structure:
- `sources`
    - `SIRF`
    - `STIR`
- ` builds`
    - `SIRF`
       - ` build`
       - ` stamp`
       - `tmp`
    - `STIR`
- `install`

[2018-01-26 13:42] paskino commented on #16
I believe we could specify [`EP_BASE`](https://cmake.org/cmake/help/v3.7/module/ExternalProject.html?highlight=EP_BASE)

[code]

[2018-01-26 13:49] rijobro opened #74 "Docker documentation"
Documentation about Docker needed please!

[2018-01-26 14:30] casperdcl commented on #74
https://github.com/CCPPETMR/SIRF-SuperBuild#installation-instructions-for-docker links to https://github.com/CCPPETMR/SIRF/wiki/SIRF-SuperBuild-on-Docker - let me know if you want something else.

[2018-01-26 15:36] rijobro commented on #74
Thanks Casper. Might just be that Kris wanted it linked under Documentation that is on the home page of the Wiki. @KrisThielemans ?

[2018-01-26 15:48] paskino commented on #16
Are you happy with this structure? If so it's one line of change.

[2018-01-26 16:26] paskino commented on #16
Well, it seems CMake isn't quite doing what I thought.

The structure in the build directory is a mess and this is the content of the Build Install Stamp Download tmp directories. Notice that Source doesn't exist and the sources are in the build directory :(

[code]

[2018-01-26 17:46] KrisThielemans commented on #16
oh well... I wonder if some of these are left-overs from a previous build though. not sure

[2018-01-26 18:11] KrisThielemans commented on #74
done.

[2018-01-26 18:11] #74 closed

[2018-01-27 11:05] KrisThielemans opened #75 "self-host fftw-3.3.5-dll64.zip"
On Windows, we download the precompiled version of FFTW from ftp://ftp.fftw.org/pub/fftw/fftw-3.3.5-dll64.zip. This is very unreliable for some reason and often makes the build stall/hang/fail. My [request for help on the CMake mailing list](http://cmake.3232098.n2.nabble.com/downloading-ftp-URL-problems-td7596822.html) hasn't resulted in any suggestions.

Can we host this file ourselves as https

[2018-01-27 11:19] KrisThielemans opened #76 "DEVEL_BUILD tags"
The [CMake doc](https://cmake.org/cmake/help/v3.10/module/ExternalProject.html) recommends to set `GIT_TAG` to `origin/master` as opposed to `master`

I have had a problem where I had set `SIRF_TAG` to `devel` and then switched to `master` and the git checkout failed (with a message about non-existing ref or so). That problem disappeared when switching to `origin/master` instead. I don't claim to

[2018-01-27 18:01] KrisThielemans commented on #75
There are problems with this ftp server as far as I can see. Occasional long delays. Only solution is hosting it ourselves.

[2018-01-27 19:17] KrisThielemans opened #77 "move doc on USE_SYSTEM_* to README.md"
we've put it on the wiki, but it feels this belongs in the `README.md` (above the section on specific versions). sorry

[2018-01-28 16:14] KrisThielemans commented on #7
A few more fixes have been incorporated. All the `ctest` problems have now been fixed.

The above mentioned DLL problem was related to both FFTW and boost. `dumpbin` (part of the VS Toolkit) gave
[code]
where I cut system libraries. Any DLLs in `INSTALL/bin` (such as `ismrmd.dll`) would be picked up if that's included in the PATH. I had to do the following (in Powershell):
[code]
(The FFTW line wo

[2018-01-29 13:17] #75 closed

[2018-01-31 09:24] paskino opened #79 "Build depends on system ACE"
Trying to install the SuperBuild on a CentOS7 machine the SuperBuild fails.
The reason being that the dependency on [ACE ](http://www.cs.wustl.edu/~schmidt/ACE-overview.html)(Adaptive Communication Environment) cannot be satisfied.

On ubuntu it seems to be available as system library and as a matter of facts it is in the dependency list for the VM.

1. How does it work on MacOS?
2. Should ACE be

[2018-01-31 10:12] bathomas commented on #79
1 .`brew install ace` on macOS.
2. Guess it should be a dependency, but also raises the question as to how many/which Linux distros to support.

[2018-01-31 10:37] paskino commented on #79
The thing is that ACE is a not so standard package and it's not found in all the distros.

[2018-01-31 10:38] KrisThielemans commented on #79
ACE should be in the dependency list for the SuperBuild (not the VM as you state), as well as others for Gadgetron. There seem to be RPM packages for CentOS as well.

Yes, it would be nice to add it to the SuperBuild, but [its build process](http://www.dre.vanderbilt.edu/~schmidt/DOC_ROOT/ACE/ACE-INSTALL.html) is not quite "standard". They have an option to use [MPC](http://downloads.ociweb.com/MP

[2018-01-31 11:03] rijobro commented on #77
done

[2018-01-31 11:03] #77 closed

[2018-02-02 15:25] #17 closed

[2018-02-02 15:48] paskino opened #82 "add OPTION to build with OpenMP"
Add option for building for STIR with OpenMP https://github.com/UCL/STIR/compare/OPENMP

[2018-02-02 15:56] KrisThielemans opened #83 "update CHANGES.md"

[2018-02-04 19:35] #76 closed

[2018-02-04 20:42] KrisThielemans opened #84 "error when using own build of boost"
at present, all travis builds have `USE_SYSTEM_BOOST=On`. should change that (now that we have ccache).

This will presumably be the same for SIRF.

Let's postpone this until Travis stuff and CMake has settled though.

[2018-02-05 19:00] casperdcl commented on #72
closed by #80

[2018-02-06 23:08] KrisThielemans commented on #63
@rijobro, I think this can be closed?

[2018-02-09 16:42] paskino commented on #16
with https://github.com/CCPPETMR/SIRF-SuperBuild/commit/f255b459fafab9d304df225c77db2a68c75b5855 I have set the build directories as [proposed](https://github.com/CCPPETMR/SIRF-SuperBuild/issues/16#issuecomment-360772097)

I have a problem about `ctest` which picks the wrong `data` directory.

[2018-02-09 23:51] KrisThielemans commented on #16
I've seen somewhere in the doc a reference to where the examples are etc, but I cannot find it anymore. In any case, this should be somehwere rather promiment. It's going to change with this PR, so put it in the README.md I think.

[2018-02-13 14:44] paskino commented on #83
closed by #87

[2018-02-13 14:44] #83 closed

[2018-02-15 16:02] casperdcl opened #91 "unify scripts"
Build scripts are currently littered everywhere, meaning redundancy and possible inconsistency:

- `SuperBuild/`
    + `.travis.yml`
    + `docker/`
- `VM`
- `SIRF/`
    + `.travis.yml`

We need a new structure:

- `SuperBuild/`
    + `.travis.yml` (refers to `scripts/travis/`)
    + ~~`scripts/`~~ just in the root
        * `common/*.sh`
        * `docker/` (refers to `common/`)
        * `vm/` (

[2018-02-16 11:54] paskino opened #92 "use pip and requirements.txt for python prerequisites"
Moved this issue to SIRF
https://github.com/CCPPETMR/SIRF/issues/124

[2018-02-17 00:15] casperdcl opened #93 "Number of users"
- [x] count superbuild clones properly (see [github-stats#viewing][gh-stats])
- [x] count VM downloads (via drupal)
- [x] count docker pulls (![](https://img.shields.io/docker/pulls/ccppetmr/sirf.svg))
  - [x] TODO: subtract travis' docker pulls (or just estimate this from [github-stats][gh-stats]'s decrements)

[gh-stats]: https://github.com/CCPPETMR/github-stats#viewing

## Ambitious

- [x] writ

[2018-02-17 00:16] casperdcl commented on #93
@KrisThielemans ?

[2018-02-17 00:55] casperdcl commented on #93
@paskino for VM binary downloads, you may want to use something link https://stackoverflow.com/questions/21982862/how-to-count-link-clicks#21982932

[2018-02-17 08:38] paskino commented on #93
There's a way directly in Drupal to count them.

[2018-02-19 09:37] paskino commented on #93
Accessing the clones via the GitHub API requires, as Casper said, an authorized webapp. So it can't be a simple script. I developed an authorized webapp to query GitHub API and I may modify to get the relevant info.

At any rate, data which can be collected is only for the last 14 days.

[2018-02-19 11:37] paskino commented on #93
I managed to get drupal track the downloads of SIRF VM. ATM the info is not publicly available. Do we need live info?

[2018-02-19 12:37] KrisThielemans commented on #93
no need to be live as far as I can see

[2018-02-19 15:03] KrisThielemans commented on #93
@casperdcl I think we don't need the badge as that seems quite complicated at the moment (especially agregating it all). It'd be ok if we can keep track of that ourselves. We could then periodically update the website ourselves.

I'm not 100% sure now if we still need the `file(DOWNLOAD...)` trick. It's a bit ugly... If we do need it, it'd have to be done from the CCP website (and can then be coun

[2018-02-22 00:04] KrisThielemans commented on #82
done I believe?

[2018-02-22 00:08] KrisThielemans commented on #84
I'd like to do this now as @bathomas had until quite recently a build failure when building boost ourselves (which is the default after all).
Let's do this for 1 build for Linux and 1 for OSX. obviously via a PR such that we can postpone it if really necessary.

[2018-02-22 07:06] KrisThielemans commented on #84
thanks. It seems that this has uncovered the bug! When running CMake we get
[code]
@bathomas is that he same as what you saw?

[2018-02-22 10:15] paskino commented on #82
closed with 5735d748a3edfde1dadd4ce9aff187bffc5a1892

[2018-02-22 10:15] #82 closed

[2018-02-22 10:47] paskino commented on #84
I confirm that boost doesn't get built. WIP

[2018-02-22 11:27] casperdcl commented on #84
feel free to work on this branch (`boost_build`) - I won't actually open a PR until it's fixed to avoid getting spam and excessive travis builds.

[2018-02-22 11:38] bathomas commented on #84
Yes. That was it.

________________________________
From: Kris Thielemans <notifications@github.com>
Sent: Thursday, February 22, 2018 7:06:08 AM
To: CCPPETMR/SIRF-SuperBuild
Cc: Thomas, Ben; Mention
Subject: Re: [CCPPETMR/SIRF-SuperBuild] error when using own build of boost (#84)

thanks. It seems that this has uncovered the bug! When running CMake we get

 External project Boost has both BINARY_

[2018-02-22 11:40] paskino commented on #84
I just managed to build Boost. However there is still this cosmetically horrible `Boost-prefix` directory in the build. Try to remove it.

[2018-02-22 13:27] paskino commented on #84
I think it's fixed now.

[2018-02-22 14:55] paskino commented on #84
@casperdcl I've pushed the fixes in the `boost_build` branch. I've tested on the VM and seem to work right. Do you create the PR?

[2018-02-22 17:21] #84 closed

[2018-02-27 14:03] paskino commented on #91
@casperdcl I don't understand correctly.
Where I to add the VM scripts where should they go?
Additionally, if I understand correctly you plan to move the current SuperBuild files under a `SuperBuild` directory.

[2018-02-27 14:49] KrisThielemans commented on #91
I suggest we discuss this in the tcon on Friday. let's not make any changes until after 1.0.0 of course

[2018-02-27 15:11] casperdcl commented on #91
@paskino I'd intended for you to create a "scripts" directory in the root of VM repo. Nothing else should be in the root. "scripts" will contain 2 subfolders: "vm", and "common", which will contain scripts that are vm-specific and generic, respectively. This would make it easy to merge the VM repo with the SuperBuild repo.

[2018-02-28 15:29] rijobro opened #95 "OpenMP flags"
When building STIR, the user can enable `STIR_OpenMP`, reconfigure and then if necessary, set `OpenMP_CXX_FLAGS`, `OpenMP_C_FLAGS`,  `OpenMP_CXX_LIB_NAMES` and `OpenMP_C_LIB_NAMES`. These aren't exposed in the superbuild, and so compilation fails on my machine.

Could we also enable a travis test with openMP enabled for STIR?

[2018-02-28 16:22] KrisThielemans commented on #95
aargh. macs....

It really shouldn't be necessary to have to set these flags, [but indeed we struggled with it for STIR](https://github.com/UCL/STIR/issues/117). Have a look there. Note the end statement "CMake doesn't support OpenMP with Apple's version of clang yet." (can't remember where I found that, but I believe it was in some CMake issue).

Can you add your observations on how you did get S

[2018-03-01 17:35] KrisThielemans opened #96 "Visual Studio build doesn't update dependencies properly"
Here's what happens for me (Windows 10, CMake 3.10.2) Visual Studio 2015.

1. I run cmake
2. I build the project fine
3. I change `SIRF_TAG` (or if it's set to `origin/master`, there's an upstream update)
4. I build the project again

However, SIRF does *not* get updated!

here's what the build output says
[code]
so, the git step was ok, but then Visual Studio didn't know it had to rebuild the pro

[2018-03-02 11:46] KrisThielemans commented on #91
proposed structure

- root dir
   - any mandatory docker/vm config files
    - README
    - CHANGES etc
    -  .travis.yml (refers to scripts/travis/)
    - .appveyor.yml
-  common_scripts/*.sh
-  docker/ (refers to common/)
-    vm/ (refers to common/)
     -   scripts
      -  vagrant
 - travis/ (refers to common/)
-  CMake
    -  CMakeModules
     - SuperBuild

[2018-03-02 11:51] KrisThielemans commented on #91
steps.
1. create new branch on VM
2. move files according to correct dir structure
3. create branch in this repo
4. merge VM branch into that branch this repo
5. move other files in this repo to correct place
5. start to move things to `common_scripts`

[2018-03-02 14:04] casperdcl opened #97 "travis osx python3"
build failing due to brew, probably easy to fix:

https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/344891590

[2018-03-02 15:25] KrisThielemans commented on #93
@casperdcl just merged a PR to be able to count github SIRF-Superbuild clones, subtracting travis ones. Great. @paskino counts VM downloads. Great. Are we counting docker downloads?
(In principle people can get the VM via vagrant etc, but I think this is a negligable minority, and that will create a SIRF-SuperBuild clone anyway, so we should be fine).

So are we done with this?

How do we get the

[2018-03-02 15:35] casperdcl commented on #93
- [x] count superbuild clones properly (see [github-stats#viewing][gh-stats])
- [x] count VM downloads (via drupal)
- [x] count docker pulls (![](https://img.shields.io/docker/pulls/ccppetmr/sirf.svg))
  - [ ] TODO: subtract travis' docker pulls (or just estimate this from [github-stats][gh-stats]'s decrements)

[gh-stats]: https://github.com/CCPPETMR/github-stats#viewing

[2018-03-02 17:21] KrisThielemans commented on #16
On Windows I use binary downloads for SWIG and FFTW. I notice that these get put in e.g.
`build/SWIG-prefix/src/swigwin-3.0.12.zip` and extracted into `build/SWIG-prefix/src/SWIG`. Arguably the zip file should go into `downloads`, and the extracted binaries into `builds` or also `downloads` (In prniciple, they could be extracted directly in the install location, but I don't think we can do that an

[2018-03-02 18:41] casperdcl commented on #93
@KrisThielemans we now have an automated badge! ![install-badge] (it's in the `README` on https://github.com/CCPPETMR/SIRF-SuperBuild). Just waiting for @paskino to implement a JSON API for the vm downloads (https://github.com/CCPPETMR/github-stats/issues/1)

[install-badge]: https://img.shields.io/badge/dynamic/json.svg?label=installs&uri=https%3A//raw.githubusercontent.com/CCPPETMR/github-stats/

[2018-03-02 18:49] casperdcl commented on #93
should be noted that every time we restart a job on `travis` (because e.g. it failed due to `apt-get` connections issues) then the counter will increment (because `travis` will have cloned the repo and then failed before we could decrement)

[2018-03-02 19:03] casperdcl commented on #93
just noticed travis osx fails due to insecure python, vis https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/348359877#L2217. Not sure if this deserves a separate issue to resolve.

[code]

[2018-03-03 08:47] KrisThielemans commented on #48
This is still a pain on OSX. It seems it can only be made to reliably work by setting `PYTHON_EXECUTABLE`, `PYTHON_LIBRARY` and `PYTHON_INCLUDE_DIR`.
(Note that currently in our .travis.yml we don't set `PYTHON_EXECUTABLE` which seems dangerous).

There are a zillion posts on this and it seems that the relevant modules in CMake need a maintainer. Here's for instance [one CMake issue](https://gitla

[2018-03-03 10:47] KrisThielemans opened #99 "self-host binary files from sourceforge"
sourceforge seems more and more unreliable. Now all our Travis jobs fail because
[code]
I saw the same on my own laptop (with `swigwin*zip`). Maybe we use the wrong URL for CMake, but downloading the files from a browser gives the correct checksum.

I think the best work-around is to self-host these files on our own website, although it's terrible of course. Or anyone has a better idea?

[2018-03-06 22:54] KrisThielemans commented on #96
my new impression is that this happens when I switch Configurations. I was building with Debug, the update was ok. Then I switched to RelWtihDebugInfo, nothing got updated (even though of course the sources were)

[2018-03-07 11:23] KrisThielemans commented on #99
it's all working again so let;s see how this goes.

[2018-03-07 14:48] paskino commented on #99
Sorry, I lost track of this.
I guess we should review the files we need to host ourselves, which I presume may be the non git ones?

[2018-03-07 14:57] KrisThielemans commented on #99
in principle everything on sourceforge, but let's wait and see (I've reassigned to 1.1) as it's an unsatisfactory solution.

[2018-03-07 15:00] casperdcl commented on #99
we could upload the binaries to a public git repo

[2018-03-07 15:49] KrisThielemans commented on #93
@casperdcl this seems to be working great but the numbers are going up rather a lot. Is this realistic?

[2018-03-07 16:10] casperdcl commented on #93
Yes, I was going to mention this. The problem is (https://github.com/CCPPETMR/SIRF-SuperBuild/issues/93#issuecomment-370016495) if travis fails before it gets to the counting code, then we have no way of knowing the travis clone should not be counted.

There's a semi-solution - github also provides "unique cloners" data (presumably based on IP addresses of cloners). If we use that instead, then we

[2018-03-07 16:18] KrisThielemans commented on #93
yes. I think it makes sense to call this "users" as opposed to downloads then. after all, if someone downloads it 5 times, we're not all that interested in knowing about this.

[2018-03-07 23:59] casperdcl commented on #93
hopefully better now

[2018-03-08 00:02] casperdcl commented on #93
it's displaying 707 now, but that may ne because of old overcounting. can easily add an offset, but let's see whether the number is still increasing rapidly first

[2018-03-08 00:09] casperdcl commented on #93
you really just need to write out something like

[code]

in a file `www.ccppetmr.ac.uk/.../vm.json`

Presumably easy?

[2018-03-08 00:12] paskino commented on #93
That I could do.

[2018-03-08 10:16] paskino commented on #93
No, I can put a Json file on the website. That drupal changes it, it is a totally different ball-game. And I've currently no clue how.

[2018-03-11 15:48] casperdcl opened #101 "reduce distribution size"
It would be nice if we could reduce the size of the distributed VM/docker images by removing unneeded files.

Ideas:

- `apt-get autoremove && apt-get clean`
- removing intermediate files (e.g. *.cpp -> *.o -> *.so means we can remove *.o)
- removing all sources (binary-only)
  + TODO: how? Preferably more sophisticated than `find -name "*.cpp" -exec rm \{} \;`
- only have the sources downloaded b

[2018-03-11 22:24] KrisThielemans opened #102 "install demos and example data"
at the moment, the demos and data are in the SIRF clone. This is non-standard, as you'd expect that an install has everything.

This would be easy enough to do. For demos themselves hardly take space, data is currently ~100MB.

[2018-03-11 22:28] KrisThielemans commented on #101
`apt-get` cleaning is definitely a good idea. no idea if it makes any difference.

I think this is a bit different for the VM or docker image. The docker one is an "install" thing only. If you want to update SIRF, you grab a new docker image. So for that, keeping only installed stuff makes 100% sense. In contrast, for the VM, our motivation to keep *.o etc is that an update will then be a lot fast

[2018-03-16 17:17] #72 closed

[2018-03-16 17:38] rijobro commented on #63
The option, `SHARED_LIBS_ABS_PATH`, means that all dynamic libraries compiled by CMake will have the full paths, and so the problem is resolved. However, for dependencies that are not compiled with CMake (e.g., Boost, which is compiled with boostrap), the problem remains.

A short-term fix is to use `brew install boost` (or `brew upgrade boost`, if they're not using the current version, 1.66).

As

[2018-03-17 18:52] KrisThielemans commented on #63
I was wondering if this wouldn't be fixed if we'd let the SuperBuild use boost 1.66. I saw no reason not to, until I found that [boost 1.66 doesn't compile on Travis OSX](https://github.com/boostorg/build/issues/279), and therefore presumably some versions of OSX. Sigh.

I therefore suggest that on OSX, we currently set the USE_SYSTEM_BOOST to ON by default, and document the `brew` stuff in our OS

[2018-03-18 08:22] KrisThielemans opened #103 "CMake version and Boost version (e.g.upgrading to boost 1.66 or later will need CMake 3.11)"
From the CMake mailing list

[2018-03-19 10:19] DANAJK commented on #103
Richard came to help last week but I am still having trouble. I realise now there was an error in an environment variable (the 'R' was missing in 'MATLAB_R2017' so I have decided to rebuild from scratch.

I noticed the messages below go past when the build started, though I was expecting it to use the boost 1.66 that should be on my system, and not start downloading 1.63 .

Anyway, my question is

[2018-03-22 11:20] rijobro commented on #103
Hi David,

The folder structure seems slightly different from how it was when I was helping you.

Try to start again (one last time!); if it doesn’t work I’ll come over when you’re free and help you out.

  1.  Check that in /Users/davidatkinson/devel there is no folder called SIRF-SuperBuild. If there is, delete it.
  2.  Open a terminal window and enter:
     *   mkdir /Users/davidatkinson/devel

[2018-03-22 11:30] KrisThielemans commented on #103
Thanks Richard

The situation of “where is the source” is a bit more complicated with the superbuild of course. The “superbuild source” is where you say it is, but then SIRF source will end up in the build directory… (depending on cmake variables)

[2018-03-26 09:13] paskino commented on #79
I copy/paste an email from Ben
[code]

[2018-03-28 15:13] #63 closed

[2018-04-11 10:59] paskino opened #107 "Install the Python modules with setup.py"
Currently the compiled Python modules are installed into a directory, `PYTHON_DEST`, which must be prepended to `PYTHONPATH`.

Modules are loaded as
[code]
and it all goes fine. However, we should really be creating a `sirf` package, which can fit into a `site-packages` structure (system or conda). The consequence is that imports will look different

[code]

[2018-04-11 11:26] casperdcl commented on #107
This would be backward-incompatible. We could provide separate `pGadgetron` and `pStir` packages which depend on each other. We could also make these aliases for `sirf.pGadgetron`/`pStir`, thus remaining backward-compatible

[2018-04-14 06:37] ashgillman opened #108 "FindMKL.cmake"
Hi,

I am having an issue with building the Super Build:

[code]

Is MKL a required or optional dependency of Gadgetron? Should the SuperBuild automatically install MKL (and I am just missing the FindMKL.cmake, perhaps this one https://github.com/gadgetron/gadgetron/blob/master/cmake/FindMKL.cmake), or should I have this installed before running the SuperBuild?

Many thanks,
Ash

[2018-04-14 07:27] KrisThielemans commented on #108
MKL is an optional dependency of Gadgetron. We cannot install it as you need to sign-up with Intel to get a license.

However, the error above is saying that Gadgetron couldn't find its own FindMKL.cmake, which is entirely weird. Can you check if it is in `whereveryoubuild/sources/Gadgetron/cmake`? (should be  about 10 other files there as you can see).

Where are you building? How did you configu

[2018-04-15 06:34] ashgillman commented on #108
Actually, I apologise. It appears the above is only a warning not an error. After running the `ccmake` configure step twice, I was still able to generate the Makefile.

But, I do believe that for anyone without Gadgetron already installed, they will get this warning as they won't yet have a FindMKL.cmake.

[2018-04-15 06:34] #108 closed

[2018-04-17 08:07] KrisThielemans commented on #107
Note that this should probably be a SIRF issue as well. (Should there be a `setup.py` in SIRF?) Similar STIR issue is https://github.com/UCL/STIR/issues/5.

Note that this won't solve the problem of needing to set the `LD_LIBRARY_PATH` (or a similar variable for your OS) to find shared libraries at run-time.

[2018-04-17 10:31] casperdcl commented on #107
Actually setup.py can handle that too (if by shared libs you mean the swig-generated python ones eg _py*.so)

[2018-04-17 10:32] KrisThielemans commented on #107
great, but also gadgetron, ismrmrd, boost, ...

[2018-04-24 17:03] paskino opened #111 "conda built gadgetron cannot load shared library"
Needs to set the `LD_LIBRARY_PATH` in the anaconda environment.

[code]

[2018-05-03 20:39] KrisThielemans commented on #107
@paskino,@casperdcl, this issue can be closed?

[2018-05-03 20:41] KrisThielemans opened #114 "bump DEFAULT_SIRF_TAG etc"
New python capabilities only work with new SIRF. Once https://github.com/CCPPETMR/SIRF/issues/164 is fixed, we should change the `DEFAULT_SIRF_TAG` such that people who build with SIRF-SuperBuild/master get latest SIRF.

Similarly probably for `DEFAULT_STIR_TAG` to get the PLS functionality.

[2018-05-03 20:50] casperdcl commented on #107
closed by https://github.com/CCPPETMR/SIRF/pull/163 (related: #109, #112)

[2018-05-03 20:50] #107 closed

[2018-05-04 17:22] KrisThielemans opened #115 "export GADGETRON_HOME in env_ccppetmr.*"
newest Gadgetron needs the GADGETRON_HOME environment variable, see https://github.com/CCPPETMR/SIRF/issues/158.

[2018-05-04 17:27] KrisThielemans opened #116 "enable STIR_OPENMP by default on Linux"
sadly only on Linux due to #95

[2018-05-08 10:58] paskino commented on #111
added dependency on openblas fixes the issue.

[2018-05-08 10:58] #111 closed

[2018-05-08 13:32] paskino commented on #115
[Apparently ](https://github.com/gadgetron/gadgetron/wiki/Linux-Installation)`GADGETRON_HOME` is the install directory.

[2018-05-08 20:57] #115 closed, assigned to paskino

[2018-05-08 21:12] KrisThielemans commented on #102
should be in `$INSTALL/share/SIRF` I believe. This is a SIRF issue really. @paskino, please create an issue there. We could make it optional if people think this is necessary. `env_ccppetmr.sh` should know about this then.

[2018-05-09 07:49] rijobro commented on #97
I think that for OSX with python3, this could be solved by replacing `brew install python3` with `brew upgrade python`

[2018-05-09 15:07] KrisThielemans commented on #97
correct. there's probably more to it. However, I've recently fixed this in STIR. same should work here.
https://github.com/UCL/STIR/commit/616cb0f382fd8668dbc51f59a1603447b58d0582

[2018-05-11 11:17] KrisThielemans commented on #114
change STIR_TAG, and set SIRF_TAG to v1.1.0-rc.1

[2018-05-11 15:58] #114 closed

[2018-05-11 15:58] #116 closed

[2018-05-12 08:10] DANAJK commented on #95
Is there a work around? A super build on my Mac currently fails with the error below. In cmake-gui, the BUILD_STIR_WITH_OPENMP is not checked (so it should build?)

[2018-05-12 09:14] KrisThielemans commented on #95
sorry. this is my update. Travis OSX was down, so I thought it'd work :-;

I don't understand what's going on though. I was specifically trying to avoid this issue by NOT enabling STIR_OPENMP on OSX. Can you attach the `CMakeCache.txt` of `~/devel/build/` and `~/devel/build/builds/STIR/build/`?

As a work-around for now, you can edit your local `SIRF-SuperBuild/SuperBuild.cmake`, L116 back to
[cod

[2018-05-12 10:06] DANAJK commented on #95
Files attached. I note their Date Modified were from yesterday so it looks like any changes I made in cmake-gui today did not affect these files.

From: Kris Thielemans <notifications@github.com>
Reply-To: CCPPETMR/SIRF-SuperBuild <reply@reply.github.com>
Date: Saturday, 12 May 2018 at 10:14
To: CCPPETMR/SIRF-SuperBuild <SIRF-SuperBuild@noreply.github.com>
Cc: David Atkinson <d.atkinson@ucl.ac.uk>

[2018-05-12 11:02] DANAJK commented on #95
With the workaround applied, make now finishes, but on trying to start gadgetron:

500:~$ gadgetron

dyld: Library not loaded: @rpath/libgadgetron_gadgetbase.3.14.dylib

  Referenced from: /usr/local/bin/gadgetron

  Reason: image not found

Abort trap: 6

501:~$

From: Kris Thielemans <notifications@github.com>
Reply-To: CCPPETMR/SIRF-SuperBuild <reply@reply.github.com>
Date: Saturday, 12 May 201

[2018-05-12 11:51] KrisThielemans commented on #95
unless you changed `CMAKE_INSTALL_PREFIX` this is another version of `gadgetron`. Try executing the one in `.../INSTALL/bin`.

we currently append our directory to the `PATH` in `env_ccppetmr.sh`. maybe that's a bit idea.

[2018-05-12 19:55] KrisThielemans commented on #95
The SuperBuild CMake should now default to false for STIR-OPENMP for OSX. My mistake was that UNIX is also true on OSX.

By the way @DANAJK, the only way I can see that setting `BUILD_STIR_WITH_OPENMP` to OFF on your cmake-gui didn't end up in the `CMakeCache.txt` is if you forgot to press `configure` again.

Let us know about gadgetron (and if you think we should put our `INSTALL/bin` first in th

[2018-05-12 19:56] KrisThielemans commented on #95
@rijobro, regarding your original observation, could you maybe check at some point what Gadgetron does for OPENMP on OSX, as we don't have that problem there.

[2018-05-12 22:40] KrisThielemans opened #119 "PRs fail on travis due to trouble with the stats"
I created a PR from my own fork (#118). All jobs are failing due to time-out because an infinite loop
[code]
see for instance https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/378186880

2 problems with this: it fails, and it creates an infinite loop. :-(

Not sure if this is a temporary travis problem. I'll accept the PR and see...

[2018-05-12 22:44] #97 closed

[2018-05-12 23:45] casperdcl commented on #119
Oh interesting. A Travis environment issue. I can see why they would choose to do this, it's for security. Right, I'd need to change this so the stats logic can fail silently, I suppose. Hmm. Also it's still overcounting, but at least in a way that I can work out by how much and fix it in future. Still can't think of a way around avoiding counting builds which fail before they get to the stats log

[2018-05-14 14:13] KrisThielemans commented on #16
sorry. could you please assign somebody else, pr be preated to wait :-;

[2018-05-14 14:59] paskino commented on #16
Who else is installing on Windows?

[2018-05-14 15:43] KrisThielemans commented on #16
@evgueni-ovtchinnikov, you're not using the superbuild yet, but this would be good to try. Not urgent though

[2018-05-16 14:38] casperdcl opened #121 "sudo install"
from @rijobro https://github.com/CCPPETMR/SIRF/issues/179

We should be able to:

[code]

this currently throws errors due to `root` permissions required for `preinstall`/build phases.

- [ ] change `configure_file()` to intermediate directory and `install()` from there
- [ ] fix other issues (e.g. `ismrmrd`)
- [ ] create a `build` target?

[2018-05-16 23:10] KrisThielemans opened #123 "prepend to PATH in env_ccppetmr.*"
we currently prepend SIRF to most variables, but not the `PATH`. That means older versions of `gadgetron` etc can be picked-up, creating trouble.

Although it's not so nice to prepend our install directory to the `PATH`, it seems the only safe thing to do.

[2018-05-17 02:00] KrisThielemans opened #124 "Need to update the STIR_TAG, and therefore version"
I've just fixed a nasty [STIR bug](https://github.com/UCL/STIR/issues/197). This means we need to change version_config.

Sadly, I discovered this after tagging, so it also means we need to change our version number.

[2018-05-17 02:30] #124 closed

[2018-06-01 10:11] KrisThielemans commented on #7
- [ ] let CMake abort if 32bit build and say to give generator

[2018-06-01 10:41] KrisThielemans commented on #102
migrated to https://github.com/CCPPETMR/SIRF/issues/181

[2018-06-01 10:41] #102 closed

[2018-06-01 11:00] KrisThielemans commented on #123
needs to be documented that's what we will do

[2018-06-25 15:11] paskino opened #126 "GTEST_ROOT is not present if not building GTest"
https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_GTest.cmake#L75 will not set `GTEST_ROOT` rather [`GTEST_LIBRARIES`](https://cmake.org/cmake/help/v3.11/module/FindGTest.html).

[2018-06-27 14:59] paskino opened #127 "Build Gadgetron with GPU support fails"
It fails because it doesn't find one header hdf5_hl.h.
Looking at the hdf5 build we disable [`BUILD_HDF5_HL_LIB`](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_HDF5.cmake#L71)

[2018-06-27 16:45] paskino commented on #127
Additionally there is a fix in Gadgetron https://github.com/CCPPETMR/gadgetron/tree/fix_gpu_link

[2018-06-29 15:10] KrisThielemans opened #128 "need to configure input files for Windows"
the Superbuild needs to create a powershell and bit file (when on Windows) like the current shell configuration files, based on following
[code]

[2018-06-29 15:12] KrisThielemans opened #129 "HDF5 conflicts"
we're getting conflicts between HDF5 versions. Easiest route might be to use static linking  when building SIRF and ISMRMRD.

[2018-07-02 20:58] KrisThielemans opened #130 "STIR should depend on SWIG if BUILD_STIR_SWIG_PYTHON"
This can probably be solved by changing `External_STIR.cmake` as follows
[code]

[2018-07-03 15:02] KrisThielemans commented on #130
confirmed to work by Mueez.

[2018-07-03 16:28] evgueni-ovtchinnikov commented on #128
I have cloned and built SIRF-SuperBuild (using CMake 3.10.0) on Windows 7 with Visual Studio 2013.

Had a problem with missing files debug.lib and optimized.lib. Figured out they are not actually needed - on the internet people suggest deleting them from the project,  but it did not work for me as Build starts by running CMake, which creates them again – so tricked the Build by copying another .li

[2018-07-04 14:35] KrisThielemans commented on #128
great. I belief that the `debug.log` and `optimized.lib` are a VS 2013 issue. I certainly don't have it with 2015.

could you try the matlab side as well? Should work...

I'm also very interested in seeing if you can run the MR code (by usin gth eVM an dport forwarding of course). that's the bit that failed for me.

[2018-07-04 19:56] #130 closed

[2018-07-04 21:50] KrisThielemans opened #131 "ACE fails with missing install target"
https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/400142749 failed with at the end
[code]

[2018-07-23 13:21] evgueni-ovtchinnikov commented on #128
python can run mr demos ok

matlab works for both pet and mr demos when started from windows; from git shell (with -nodesktop) it works too if i do not set $Env:MATLABPATH  as you suggested, otherwise i get "Undefined function or variable 'matlabrc'", and mutilities library fails to load

[2018-07-24 06:51] KrisThielemans commented on #128
Excellent news!

From [here](https://uk.mathworks.com/matlabcentral/answers/96935-why-do-i-get-an-undefined-function-or-variable-matlabrc-error-and-loss-of-command-functionality-w) it looks like we should add `$matlabroot\toolbox\local` (obviously with `$matlabroot` filled in). Can you try that?

 This should be doable from CMake as we'll know what `MATLABROOT` is I believe.

[2018-07-24 14:34] evgueni-ovtchinnikov commented on #128
i mean it works now that i added `$matlabroot\toolbox\local` to `$Env:MATLABPATH`

[2018-07-25 17:44] #123 closed

[2018-08-03 16:48] KrisThielemans opened #133 "Travis fails on OSX with boost"
[code]

[2018-08-03 17:07] KrisThielemans commented on #119
@casperdcl [this is still happening](https://api.travis-ci.org/v3/job/411795270/log.txt) I'm afraid.

[2018-08-03 17:36] rijobro commented on #133
Could we do `brew reinstall boost`? That way, we'll always have the most recent version without the error (although commenting it out would presumably have the same effect).

[2018-08-08 06:58] KrisThielemans commented on #133
[Example log file](https://api.travis-ci.org/v3/job/413160775/log.txt)

[2018-08-08 06:59] KrisThielemans commented on #133
Is this normal brew behaviour, or something specific to boost, or specific to Travis? i.e. can someone with OSX try a few `brew update` commands?

[2018-08-08 07:16] KrisThielemans opened #134 "Pin DEVEL_BUILD to recent gadgetron"
Gadgetron master is tripping us up rather regularly unfortunately. I feel we should fix `DEVEL_BUILD=On` to use a specific (but recent) gadgetron version as opposed to its master. We can then update the `GADGETRON_TAG` occasionally via a SIRF-SuperBuild PR. Any objections?

we could do the same for STIR if it becomes necessary.

[2018-08-08 10:26] rijobro commented on #133
I get the same error when I run `brew upgrade boost` and I already have the most recent version. I'll try with `brew reinstall boost`.

[2018-08-08 11:15] KrisThielemans opened #135 "add check on boost version in CMakeLists.txt for OSX"
We had problems with boost 1.65 on OSX (can't remember which ones. sorry).

Let's add a simple check in the [main CMakeListst.txt](https://github.com/CCPPETMR/SIRF/blob/4472343f41ad65dba5d03d0d37579b7f4abb97e9/CMakeLists.txt#L69)
like (I didn't check this. would need to test it with the actually installed version)
[code]

[2018-08-08 11:16] KrisThielemans commented on #133
reinstall will take a fair amount of time presumably. Ideally we'd do a version check in travis, but that seems [complicated enough in brew](https://discourse.brew.sh/t/where-to-get-version-number/627/7). I'll comment this out for now.

I've created #135 to at least fall over if the boost version is wrong.

[2018-08-08 11:37] rijobro commented on #133
It only takes a few seconds because it's already downloaded:
[code]
This means we'll either get the new version or, if the new version is already installed, reinstall it without downloading it.

With this, tests are now advancing past the point they were previously crashing. Is that not OK?

[2018-08-08 15:09] KrisThielemans commented on #133
not sure if `reinstall` would actually get the new version (i.e. upgrade). Sounds to me like it wouldn't. If so, there's no point in doing it as far as I can see. In any case, could you create a PR with the best solution? Some Travis jobs will still fail because of the other issues, but at least some of the OSX ones should go through. Then let me know when it's ready to accept.

[2018-08-08 15:20] KrisThielemans opened #137 "update boost requirement to 1.64.0"
Gadgetron now needs 1.64.0, see https://github.com/gadgetron/gadgetron/issues/671. Let's wait for one more day to let them confirm. If so, we need to update our version_config.cmake therefore. I'd suggest 1.64.0 both for downloaded version and required version.

[2018-08-08 15:31] KrisThielemans commented on #129
confirmed with @johannesmayer that HDF5 conflicts easily happen even on the VM. We had the system HDF5, the SuperBuild HDF5 and ITK comes with HDF5 as well. Matlab does as well. All different versions. And the GE

HDF5 library has a habit of causing segfaults when there's a version mismatch anywhere, so this needs to be avoided.

I lean now towards relying on a system HDF5 by default (i.e. to not

[2018-08-08 15:40] #131 closed

[2018-08-08 15:47] paskino commented on #129
Can't we rely only on the one we build?

[2018-08-09 13:01] paskino commented on #133
maybe the same as https://github.com/CCPPETMR/SIRF/pull/201 should work?

[2018-08-09 14:18] KrisThielemans commented on #133
indeed. we need the fix in both SIRF and SIRF-SuperBuild. unfortunate duplication. @paskino, can you accept CCPPETMR/SIRF#201 after review and put the same in the SIRF-SuperBuild?

[2018-08-09 14:50] KrisThielemans commented on #129
we're trying to, but failing :-; I did notice there were a few `HDF5_LIBRARIES` missing in the `External*` files. @johannesmayer, maybe you could generate a PR with those fixes to the SuperBuild. However, even then we had conflicts until we deleted all our own HDF5 files, and just relied on the system one. I now think that relying on the system one is best, unless we cannot (e.g. because it's too

[2018-08-10 10:40] KrisThielemans commented on #129
check if ITK can be build with a specific HDF5.

change option `USE_SYSTEM_HDF5` depending on `find_package`

[2018-08-10 14:33] KrisThielemans commented on #137
We probably need to reconsider this. Our VM is based on Ubuntu 16.04 whose boost is too old. Any upgrades will therefore fail at present. We would have to build boost on our VM therefore.

I've asked the Gadgetron guys if it's possible to downgrade their requirement, https://github.com/gadgetron/gadgetron/issues/671

[2018-08-10 22:05] KrisThielemans opened #140 "prevent in-source build?"
The superbuild situation is somewhat confusing if where sources and builds are located. This gets worse if an in-source build is used. I suggest we error out if this is attempted. This can be done [like here](https://github.com/InsightSoftwareConsortium/ITK/blob/e0ed888ffda0e0f9e43a091c1da78c97c2f1f032/Modules/ThirdParty/HDF5/src/itkhdf5/CMakeLists.txt#L12).

[2018-08-10 23:06] #133 closed

[2018-08-10 23:39] KrisThielemans commented on #129
yes: `-DITK_USE_SYSTEM_HDF5=ON`

[2018-08-11 00:10] KrisThielemans commented on #129
The situation on specifying HDF5 location is actually complicated.

At present we set `HDF5_ROOT`, `HDF5_INCLUDE_DIRS` and most of the time `HDF5_LIBRARIES`.  However, if `USE_SYSTEM_HDF5=OFF`, `HDF5_LIBRARIES` is actually empty.

According to the [`FindHDF5` doc](https://cmake.org/cmake/help/latest/module/FindHDF5.html), only `HDF5_ROOT` should be used and the others will be ignored. However, wit

[2018-08-13 07:53] rijobro commented on #140
I think erroring out is definitely a good idea, as it might help out less experienced CMakers

[2018-08-13 21:28] KrisThielemans commented on #137
Gadgetron will now target 18.04, so we're stuck with this.

[2018-08-13 21:28] #137 closed

[2018-08-20 15:58] paskino opened #144 "build ACE seems to require CMake 3.9"
I've been hitting hard on this problem: it seems that for whatever reason CMake 3.7 doesn't build ACE correctly. Well, it doesn't build at all.

[2018-08-21 09:05] paskino commented on #127
My PR on Gadgetron repo has been merged https://github.com/gadgetron/gadgetron/pull/638

[2018-10-03 11:17] KrisThielemans commented on #134
We're now getting failures on `DEVEL_BUILKD`
[code]
that'll be fun on travis etc.

In any case, this reinforces the motivation for doing the above. @DANAJK @ckolbPTB @johannesmayer  any objections? Please suggest a commit if you can

[2018-10-03 11:58] DANAJK commented on #134
I have no objections. Unfortunately I cannot suggest a specific commit for Gadgetron.

[2018-10-04 11:11] KrisThielemans opened #146 "upgrade Gadgetron and ISMRMRD"
New Gadgetron needs gcc 6.0 and newer ISMRMRD. See previous discussion at #145.

Ubuntu 16.04 has 5.4. On the VM it could be possible to install gcc version 6 following [this link](https://askubuntu.com/questions/746369/how-can-i-install-and-use-gcc-6-on-xenial/746480)

@paskino sees a few options:

1. Build a new VM with [Ubuntu 18.04](https://app.vagrantup.com/ubuntu/boxes/bionic64) which ships

[2018-10-04 11:14] KrisThielemans commented on #134
see #146

[2018-10-04 11:20] KrisThielemans commented on #146
I see no reason not to do this. we'll have to move on soon anyway.

A pain. I'd like to avoid it.

I don't see how conda is going to help avoiding having to use gcc 6 for gadgetron.

As we're moving to SIRF 2.0, it's a good time to upgrade Gadgetron. So I wouldn't do that.

[2018-10-04 11:20] KrisThielemans commented on #146
@dchansen, @xueh2 what would a good Gadgteron, and ISMRMRD commit be?

[2018-10-04 11:33] paskino commented on #146
conda can help by being able to install specific compilers?

[2018-10-04 12:04] dchansen commented on #146
For gadgetron we're currently using both 1 and 2.
We're moving to Ubuntu 18.04 as soon as everything (non-Gadgetron) works on the scanner side, and in the meantime we've upgraded our docker images with GCC 6.

[2018-10-04 14:04] KrisThielemans commented on #146
@dchansen, sorry, not sure what you mean with

[2018-10-04 14:13] KrisThielemans commented on #146
yeah, but who's going to do that, aside from you?

[2018-10-04 14:18] casperdcl commented on #146
I agree you probably don't want to conda install a compiler if you can avoid it - if people conda install into their default conda environment, they'll get the new compiler overriding their system one in that environment without necessarily realising.

[2018-10-04 14:19] paskino commented on #146
@KrisThielemans  it's not so trivial to install a different compiler with conda. Though conda provides [new compilers](https://conda.io/docs/user-guide/tasks/build-packages/compiler-tools.html) (only for Mac and Linux), conda-forge is not currently using those.

[2018-10-04 14:20] paskino commented on #146
@casperdcl the compiler is requested only for the build (possibly)

[2018-10-04 14:34] bathomas commented on #146
I agree with @KrisThielemans, I think using conda in this way is asking for trouble.

[2018-10-04 16:05] paskino commented on #146
OK, I'll proceed with option 1.

[2018-10-07 08:31] KrisThielemans opened #147 "FFTW3 and ACE location can only be set via environment variable"
FindFFTW3.cmake (supplied in Gadgetron, ISMRMRD and SIRF, which are all identical) use `$ENV{FFTW_ROOT_DIR}`. Therefore, setting the `FFTW_ROOT_DIR` CMake variable has no effect. Instead, when using `USE_SYSTEM_FFTW3=OFF`, the user has to set the environment variable before building the superbuild (note that setting it when running CMake the first time will not have any effect).

The same holds fo

[2018-10-07 20:17] KrisThielemans commented on #147
@evgueni-ovtchinnikov can you then add something like this to the doc as well? Feel free to improve:

[2018-10-07 20:36] KrisThielemans commented on #135
this was done a while ago.

[2018-10-07 20:37] KrisThielemans commented on #70
Wrong usage in `SuperBuild.cmake` is/was fixed in #148

[2018-10-08 08:28] paskino commented on #79
I believe this can be closed as it ACE is now in the external packages we can build.

[2018-10-08 08:28] #79 closed

[2018-10-23 14:57] #70 closed

[2018-11-01 17:24] KrisThielemans opened #150 "allow different "main projects" in the SuperBuild"
Currently, we have a primary project called [CCPPETMR](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/2e4de9aaab9370b4fb0ba62bf3fa590db86ff68a/CMakeLists.txt#L12), which adds [SIRF](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/2e4de9aaab9370b4fb0ba62bf3fa590db86ff68a/SuperBuild.cmake#L150), and optionally [Gadgetron](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/2e4de9aaab9370b4fb0ba62bf3

[2018-11-03 07:18] KrisThielemans opened #151 "usage of message"
about 10 places use
[code]
as opposed to
[code]

[2018-11-03 07:19] KrisThielemans commented on #151
not urgent

[2018-11-04 11:14] #150 closed

[2018-11-06 07:26] KrisThielemans opened #153 "check new support for package_ROOT in CMake, in particular for BOOST"
See https://github.com/UCL/STIR/issues/286.

[2018-11-17 00:46] rijobro opened #207 "Matlab uses a different version of boost compared to SIRF"
I'm trying to get SIRF installed on the remote desktop to the university. This means that we don't have complete control over installed packages etc.

I installed SIRF using a version of boost that we installed ourselves (`/slms/inm/research/tools/TL/lib/libboost_[component].so.1.68.0`). However, Matlab is using its own version of boost (`/cs/sys/software2/Matlab/matlab-R2016b/bin/glnxa64/libboost

[2018-11-23 10:45] paskino commented on #140
I believe that at least [boost is built in source](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_Boost.cmake#L60). Do you really want to error out?

[2018-11-23 11:40] KrisThielemans commented on #140
we can/should build boost out-of-source as well. from another project, something like this should work
[code]
possibly overcomplicated...

[2018-11-23 11:50] KrisThielemans commented on #140
but in any case the suggestion above is for the SuperBuild itself, not for the content.

[2018-11-23 11:57] paskino commented on #140
Ah, I had totally misunderstood that point. Then I agree.

[2018-11-27 11:57] casperdcl commented on #119
oh hey time to have another look

[2018-11-27 14:06] paskino opened #156 "SuperBuild to set USE_SYSTEM_ACE to OFF if system ACE not found"
This is related to https://github.com/CCPPETMR/CCPPETMR_VM/issues/102

I suggest that when building on a system without system ACE, the SuperBuild tries to build it by default.

[2018-12-01 14:04] KrisThielemans commented on #156
I'm fine with this.

we should do this for anything that defaults to `USE_SYSTEM=ON`

[2018-12-04 22:29] KrisThielemans opened #158 "All travis builds fail due to missing GITHUB_API_TOKEN"
[code]
probably due to an inexistent `GITHUB_API_TOKEN` [here](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/2d3be030fd3d7124a72e71c07cb1f3cec36ba08a/.travis.yml#L195)

[2018-12-07 16:25] KrisThielemans opened #159 "env_ccppetmr.csh uses wrong syntax"
there's an `endif` in there

[2018-12-07 16:31] KrisThielemans opened #160 "ISMRMRD master fails to build with USE_SYSTEM_HDF5 on the (old) VM"
ISMRMRD [uses `HDF5_INCLUDE_DIR`](https://github.com/ismrmrd/ismrmrd/blob/b9ed45e1544c636118dbf89e0ca7696c32d51212/CMakeLists.txt#L126) but it should use `HDF_INCLUDE_DIRS` according to CMake.

On the VM, even cmake 3.13.0 leaves `HDF5_INCLUDE_DIR` empty (when using the system HDF5)

[2018-12-07 16:46] evgueni-ovtchinnikov opened #161 "building gadgetron on VM with boost 1.68 causes undefined reference to `boost::system::detail::generic_category_instance'"
Building Gadgetron needs gcc6 and boost 1.65.0 We tried with 1.68.0, but then got
[code]
This might be related to https://github.com/boostorg/system/issues/26 as g++-6 defaults to C++-14 and therefore resolved by making sure that boost is built with gcc-6. This is actually #14.

[2018-12-07 23:54] KrisThielemans commented on #14
The suggested solution of setting `CC` and `CXX` does not work for boost as Boost.Build ignores this and  uses the system gcc anyway. It should be solvable by creating a `user-config.jam`, see [an answer by Dave Riedel here](https://lists.boost.org/boost-users/2013/01/77132.php)
[code]
This would conceivably be possibly to do [via CMake here](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/b16e14

[2018-12-08 15:52] KrisThielemans commented on #103
In fact, for a particular CMake version, it "knows" only about compilers and libraries in existence at the time that CMake version was released. Therefore, CMake's `Find*.cmake` will contain logic for those versions only.

Example: CMake 3.7 only knows about to Boost 1.63.0;1.63;1

You can tell `FindBoost.cmake` to find more recent stuff, but if the conventions of the library changed (as in the to

[2018-12-08 17:21] KrisThielemans opened #162 "upgrade CMake"
See #103 for rationale

I think best to set required CMake version according to required Boost version

Will need to update [build_essential-ubuntu.sh](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/2d3be030fd3d7124a72e71c07cb1f3cec36ba08a/docker/build_essential-ubuntu.sh#L18) (see also https://github.com/CCPPETMR/CCPPETMR_VM/pull/107)

[2018-12-08 17:30] KrisThielemans commented on #162
Also need to update .travis.yml sadly, also in SIRF.

We have 4 places (or more with Azure) where this CMake dependency is. Need to get working on #91 in 2019...

[2018-12-08 17:47] KrisThielemans opened #163 "Link to static boost libraries"
Rationale: https://github.com/CCPPETMR/SIRF/issues/241

Method: Add `-DBoost_USE_STATIC_LIBS=ON` to the `CMAKE_ARGS` for Gadgetron, ISMRMRD and SIRF, at least if we build Boost ourselves, or after checking if the system boost has the static libraries.

[2018-12-08 18:13] KrisThielemans opened #164 "gadgetron master now needs boost 1.65.0"
Might need to update our boost version, depending on Gadgetron version chosen in #146

[2018-12-08 20:58] KrisThielemans opened #167 "travis 4MB log size limit"
we're now very close to the log file limit. Travis aborts a job if it goes over. This currently happens in #166 for one [OSX job](https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/465422525).

It doesn't seem to be possible to raise this limit, see e.g. https://github.com/travis-ci/travis-ci/issues/1382. We could try to save logs to a file, but
- you'd need to see if what went wrong, so would ma

[2018-12-09 00:39] #164 closed

[2018-12-09 10:17] DANAJK commented on #103
A dependency of the dependency manager ...?

[2018-12-09 10:44] KrisThielemans opened #168 "OSX: CMake fails to detect version of brew HDF5"
When using `USE_SYSTEM_HDF5=ON` on OSX, [we get](https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/465481883)
[code]
This does not occur when building our own HDF5 (v1.10.1). OSX 10.13.3, brew HDF5 claims to be 1.8.

[2018-12-09 11:17] KrisThielemans opened #169 "Trusty ACE too old for gcc-7"
On Ubuntu Trust (as used on Travis), the system version is ace-6.0.3. Using a recent gcc gives an error when compiling Gadgetron
[code]
see [an example Travis log](https://api.travis-ci.org/v3/job/465480691/log.txt). This is likely due to the fact that the ACE configuration files don't know about this compiler yet. A probably related message on compiling ACE 6.1 and later with gcc-8.1 [is here](ht

[2018-12-09 11:42] KrisThielemans opened #170 "OSX (actually CLang) build fails with Boost 1.65.1"
[Travis log](https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/465480605)
[code]
with XCode 9.4.1 (g++ is Apple LLVM version 9.1.0, clang-902.0.39.2). This seems a bug in that version of Boost, which was fixed in 1.68 (probably earlier)

[2018-12-09 11:42] KrisThielemans commented on #135
same bug with 1.65.1, see #170

[2018-12-09 11:55] KrisThielemans commented on #135
I actually cannot find this check. If it's there, it'd have to be modified to include 1.65.1.

However, brew is now on 1.68.0 so I suggest we won't bother checking in CMake.

[2018-12-09 11:55] #135 closed

[2018-12-09 13:55] KrisThielemans opened #172 "Gadgetron master linking problems on OSX (compute_NFFT_C2NC etc)"
upstream problem, see https://github.com/gadgetron/gadgetron/issues/716

[2018-12-09 14:34] KrisThielemans commented on #167
This issue, together with the fact that building boost 1.68.0 (and earlier) issues a ton of warnings when building with Clang like
[code]
prevents us to test `-DUSE_SYSTEM_Boost=OFF -DUSE_SYSTEM_HDF5=OFF`.  Oh well.

[2018-12-09 14:38] KrisThielemans commented on #103
:-)

[2018-12-09 14:51] #170 closed

[2018-12-09 17:39] KrisThielemans opened #173 "build_ACE.sh needs realpath which isn't on trusty"
It can be installed via `sudo apt install realpath` but that fails on bionic by the way.

We need it for Travis sadly.

[2018-12-09 18:04] #134 closed

[2018-12-09 18:04] #173 closed

[2018-12-09 19:51] #172 closed

[2018-12-09 19:58] KrisThielemans opened #174 "ACE fails to build on Travis trusty"
[Example log](https://api.travis-ci.org/v3/job/465686977/log.txt) (with -j 2 unfortunately). ACE building seems to be ok but ends with
[code]

[2018-12-09 20:11] KrisThielemans opened #175 "USE_SYSTEM_BOOST=ON on trusty should fail, but Travis is happy"
[code]
but the job "succeeds", [log here](https://api.travis-ci.org/v3/job/465686971/log.txt).

I guess we need to change [.travis.yml](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/c3a2c065e3ff0358b8b2c3dbf9961268b2f03cc0/.travis.yml#L266) to
[code]

[2018-12-09 20:41] KrisThielemans commented on #174
@paskino, is this as in https://github.com/CCPPETMR/SIRF-SuperBuild/issues/144?

Fixable by going to CMake 3.9 or later on Travis? #162, #103

[2018-12-09 20:43] KrisThielemans commented on #162
Happy to require CMake 3.10. Can't do 3.11 really as [Ubuntu bionic uses 3.10](https://packages.ubuntu.com/bionic/cmake)

[2018-12-09 20:45] KrisThielemans commented on #173
forget it. I've added the `realpath` package on Travis trusty. That problem disappeared. Let's not change the code to support Ubuntu 14.04...

[2018-12-09 23:50] KrisThielemans commented on #169
We cannot do anything about this, aside from building it, but see #174

[2018-12-09 23:50] #169 closed

[2018-12-10 00:05] KrisThielemans commented on #163
[Failure for ISMRMRD](https://github.com/ismrmrd/ismrmrd/issues/114) but the library doesn't use boost, so this isn't a show-stopper.

Therefore, we really only need this for SIRF. Easy enough to try.

[2018-12-10 11:07] evgueni-ovtchinnikov commented on #163
both on VM and augrabies .cs.ucl.ac.uk got error
'''
/usr/bin/ld: /home/sirfuser/devel/install/lib/libboost_thread.a(thread.o): relocation R_X86_64_32 against `.rodata.str1.8' can not be used when making a shared object; recompile with -fPIC
'''
find it hard to believe boost libraries compiled without `-fPIC`

[2018-12-11 13:50] #119 closed

[2018-12-11 13:50] #158 closed

[2018-12-11 22:06] #163 closed

[2018-12-11 22:08] #56 closed

[2018-12-13 23:56] #174 closed

[2018-12-13 23:56] #175 closed

[2018-12-13 23:58] KrisThielemans commented on #161
@evgueni-ovtchinnikov please try again with the new versiono fthe Superbuild. It works for me.

[2018-12-14 12:45] evgueni-ovtchinnikov commented on #161
`update_VM.sh` runs gcc-5.4.0

linking executable test_ismrmrd failed with error messages

    undefined reference to `boost::test_tools::tt_detail::report_assertion(boost::test_tools::assertion_result const&, boost::unit_test::lazy_ostream const&, boost::unit_test::basic_cstring<char const>, unsigned long, boost::test_tools::tt_detail::tool_level, boost::test_tools::tt_detail::check_type, unsigne

[2018-12-15 07:37] KrisThielemans opened #177 "reduce boost building output with -d0"
we probably should add the `-d0` flag to `b2` (and `bootstrap,sh`?) to make the Boost build less verbose. It needs to be checked if this doesn't cause a time-out, but I found [one comment on Stackexchange](https://stackoverflow.com/questions/45276457/how-to-use-latest-boost-version-in-travis-ci) of someone who does this.

This would help with #167.

[2018-12-15 11:22] KrisThielemans opened #178 "remove boost cached variables?"
Given our problems with [boost upgrades](https://github.com/CCPPETMR/SIRF/issues/257), I guess we could add `-U Boost* -U BOOST*` to the `CMAKE_FLAGS` for Gadgetron, STIR, SIRF, ISMRMRD builds. Not 100% sure if that'd mean a rebuild if nothing changed.

[2018-12-17 23:10] KrisThielemans opened #179 "siemens_to_ismrmrd fails to compile on Ubuntu with USE_SYSTEM_BOOST=ON"
By [default](https://github.com/ismrmrd/siemens_to_ismrmrd/blob/0a3af4f2555fc3288df23053932ba67fd0ba3781/CMakeLists.txt#L58) siemens_to_ismrmrd uses static libraries for Boost, but Ubuntu (debian?) doesn't include those in its boost package apparently. It seems we have to check this ourselves, and if static libs are not present, use `-DBUILD_DYNAMIC` as CMake flag.

See https://github.com/ismrmrd/

[2018-12-17 23:56] KrisThielemans commented on #161
Confirmed that this also happens with gcc 5.4 and older Gadgetron, e.g. https://github.com/gadgetron/gadgetron/commit/e7eb430673eb3272e8a821b51750c0a2a96dafed

It disappears when editing gadgetron's [CMakeLists.txt](https://github.com/gadgetron/gadgetron/blob/e7eb430673eb3272e8a821b51750c0a2a96dafed/CMakeLists.txt#L145) to force use `std=c++11` and not 14 (although this gives some warnings)

It se

[2018-12-18 08:07] KrisThielemans commented on #161
Lengthy discussion at https://groups.google.com/forum/#!topic/boost-developers-archive/EWG5NVOZo_g Conclusion is that you need to build boost (or any C++ library) with the same C++ standard version as you own code.

This seems to imply that we need to figure out what compiler options Gadgetron used, and then always build boost ourselves, using e.g. `cxxstd=14`.

Note that boost.system is header-on

[2018-12-18 08:16] KrisThielemans commented on #14
Specifying compilers is actually not enough. We need to port C++ versions as well. See https://github.com/CCPPETMR/SIRF-SuperBuild/issues/161

[2019-01-10 11:19] KrisThielemans opened #180 "Setting CMAKE_CXX_STANDARD (for STIR)"
Every package has different ways to set the C++ standard, which is problematic as libraries and .h files aren't necessarily compatible, leading to crashes or linking problems, see e.g. https://github.com/CCPPETMR/SIRF-SuperBuild/issues/161. It seems therefore safer that if we compile stuf ourselves, to try and convince the package to use a particular C++ version.

At present, we [set `CMAKE_CXX_ST

[2019-01-10 11:20] KrisThielemans commented on #161
Current Gadgetron master [attempts to use C++ 20](https://github.com/gadgetron/gadgetron/blob/b74270142683cb461292e7714f1755969a5bbccf/CMakeLists.txt#L158) (CMake will downgrade if it is not supported by the compiler)

[2019-01-15 15:42] rijobro opened #186 "ACE and OSX"
I'm installing the superbuild on OSX.

I have ACE installed via brew (`brew install ace`), but when I enter `USE_SYSTEM_ACE=ON` and `ACE_DIR=/usr/local/Cellar/ace/6.5.3/`, upon configuring `ACE_DIR` is reset to `ACE_DIR-NOTFOUND`.

So I tried with `USE_SYSTEM_ACE=OFF`, but I came across the following error:

[code]

Any ideas?

[2019-01-15 15:52] paskino commented on #186
It's difficult to debug ACE's build. It seems there is a target called `Unknown`. Or an env variable.

Can you please try to `make ACE VERBOSE=2`?

[2019-01-15 15:54] paskino commented on #186
But, do you need to set the `ACE_DIR` variable?

[2019-01-15 15:55] rijobro commented on #186
Here it is with `verbose=2`. Looks like the problematic line is `-DACE_LACKS_LINUX_NPTL Unknown`.

[code]

[2019-01-15 15:55] rijobro commented on #186
You do if you want to use `USE_SYSTEM_ACE=ON`.

[2019-01-15 16:10] rijobro commented on #186
I don't think it's related to Gadgetron, since `make ACE` gives the error (not `make gadgetron`).

[2019-01-15 20:01] KrisThielemans commented on #186
There's a few different things here.

# ACE build failure

The way we build ACE seems a bit over-complicated, but then i haven't checked it properly. Essentially, SIRF-SuperBuild clones https://github.com/paskino/libace-conda/blob/master/build_ace.sh which uses CMake to download, figure out if it's APPLE or Linux and copies files, and then calls `make`.  It's in the last step that something fails.

[2019-01-15 21:25] KrisThielemans commented on #186
Regarding the build error
[code]
A bit of detective work shows that ACE sets `CPPFLAGS` in its `include/makeinclude` files. I believe the problematic code is [here](https://github.com/DOCGroup/ACE_TAO/blob/95c147c08eaad4f651347ccf898c88b3a5fca705/ACE/include/makeinclude/platform_linux_common.GNU#L110):
[code]
My prediction is @rijobro that if you type
[code]
you'll see some error and a non-zero ex

[2019-01-16 11:08] rijobro commented on #186
Is this definitely an ACE problem? In filling out their issue form on Github, it asks for the `ace/config.h` file. This symlinks to the platform-specific config file, and mine points to `config-linux.h`, which seems incorrect.

Has the `USE_SYSTEM_ACE=OFF` worked in the past for OSX? Because looking at Travis, none of the OSX machines test that.

[2019-01-16 11:37] KrisThielemans commented on #186
The quoted lines are definitely incorrect.

That it throws up an error now, is not necessarily an ACE problem. You can check what the ACE-install script is doing. In particular, it links the config files in https://github.com/paskino/libace-conda/blob/master/configure_ace.sh, after platform detection by CMake. You could just do this by hand and see what happens. (I tried to track it for OSX, and g

[2019-01-16 11:55] paskino commented on #186
Other than Gadgetron, I've run no tests.
Maybe I just have to invert [these](https://github.com/paskino/libace-conda/blob/master/CMakeLists.txt#L27)

[2019-01-16 11:59] paskino commented on #186
I updated the [libace-conda CMakeLists.txt](https://github.com/paskino/libace-conda/blob/master/CMakeLists.txt#L27)
Could you update and retry?

[2019-01-16 12:59] rijobro commented on #186
That seems to have worked!

[2019-01-16 13:06] rijobro opened #188 "No USE_SYSTEM_Gadgetron"
This option exists for most SIRF dependencies, but not Gadgetron. Is there a reason for this?

Unfortunately, Gadgetron do not supply a `GadgetronConfig.cmake` file, so would we have to write our own to be able to have a `USE_SYSTEM_Gadgetron`?

[2019-01-16 19:50] KrisThielemans commented on #186
I filed https://github.com/DOCGroup/ACE_TAO/issues/792. I guess this can be closed then

[2019-01-16 22:35] KrisThielemans commented on #188
we don't link with Gadgetron (currently), so don't need it. It'd be the same as `BUILD_Gadgetron=OFF`

[2019-01-17 09:48] paskino commented on #188
I think there's a typo in the CMakeLists.txt and the variable is [`BUILD_GADGETRON`](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild.cmake#L165)

[2019-01-17 09:50] paskino opened #189 "The option BUILD_GADGETRON should be BUILD_Gadgetron"
The name of the option [`BUILD_GADGETRON` ](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild.cmake#L165)should be `BUILD_Gadgetron` as the target name is `Gadgetron`.
See #188

[2019-01-17 10:13] rijobro commented on #186
Thanks

[2019-01-17 10:13] #186 closed

[2019-01-17 10:21] rijobro commented on #188
Ah, I see. Thanks.

It might be a typo, but at least it's consisent in the code.

[2019-01-17 10:22] #188 closed

[2019-01-17 20:14] jwillemsen commented on #186
Issue in ACE has been fixed, will be part of ACE 6.5.4

[2019-01-17 23:03] #6 closed

[2019-01-21 15:18] rijobro opened #191 "Update STIR version"
bug discovered by @johannesmayer.

With `DEVEL_BUILD=OFF`, `STIR_TAG` is set to `fd3a7576a11930856d6af50d217f17d4848c2bff`. In this version, the method `get_LPS_coordinates_for_indices` does not exist. Since merging the geometrical info PR (https://github.com/CCPPETMR/SIRF/pull/193), we need this STIR method.

We therefore need to update our default version of STIR.

[2019-01-21 15:47] rijobro commented on #191
Apologies, `get_LPS_coordinates_for_indices` is actually present in `fd3a7576a11930856d6af50d217f17d4848c2bff`.

[2019-01-21 15:47] #191 closed

[2019-01-23 10:34] rijobro opened #192 "Travis fails but stays green"
Travis shows that all builds are green for the Superbuild (e.g., [most recent build](https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/482452187)).

However, if you check one of the OSX builds (e.g., [this one](https://api.travis-ci.org/v3/job/482452187/log.txt)), you'll notice:
[code]

These tests are also failing on SIRF, but they are actually showing up as having failed (e.g., [link](https://

[2019-01-23 10:55] rijobro opened #193 "Gadgetron unit test fails"
The Superbuild can now run the unit tests of the SIRF dependencies. However, the Gadgetron test is failing on OSX. It's failing on my machine due to a bug in BLAS (see [here](https://github.com/gadgetron/gadgetron/issues/719)), and I can only assume it's failing on Travis for the same reason.

@KrisThielemans suggested using Docker to build Gadgetron on OSX. @casperdcl, is there any way you'd be a

[2019-01-23 11:15] casperdcl commented on #192
possibly unrelated, but:
- https://stackoverflow.com/questions/51289456/test-for-non-zero-exit-status-using-ctest-cmake
- https://stackoverflow.com/questions/33693486/how-can-i-use-cmake-to-test-processes-that-are-expected-to-fail-with-an-exceptio

[2019-01-23 11:20] rijobro commented on #192
I think these are unrelated, as they are for cases that are expected to fail, so we want to return the opposite of the exit code of the script.

In the case of Gadgetron, if the test fails, we want to report that it fails.

Since the ctest fails, but travis is happy, my guess is that the answer lies in the way we've set up the `.travis.yml` (not sure though).

[2019-01-23 11:33] casperdcl commented on #193
Hi @rijobro - Once you've built the gadgetron docker image as you stated, you'd have to run it and expose its port:
[code]
where `<HOST IP/NAME>` should be replaced with your host machine's IP/name. Alternatively I'm pretty sure it can just be `0.0.0.0` though.

You should then be able to run tests in another terminal

[2019-01-23 11:35] rijobro commented on #193
Thanks for the help. I just ran the command but an error was returned:
[code]

[2019-01-23 11:36] casperdcl commented on #193
oops without the `-i`

[2019-01-23 11:38] casperdcl commented on #193
If you want to edit build options, you need to edit: `/path/to/Gadgetron/Source/docker/incremental/ubuntu_1804_no_cuda/Dockerfile` and build the image again (I'd leave out the `--no-cache` flag to make things faster).

[2019-01-23 11:39] rijobro commented on #192
Ok, waiting to see what travis has to say about that: https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/builds/483358628.

[2019-01-23 11:40] casperdcl commented on #192
doesn't explain why SIRF fails without needing the `travis_terminate`

[2019-01-23 11:51] rijobro commented on #193
So to start, I do:
[code]
Then I should be able to open a new terminal window and type `gadgetron`?

Finally, what's the command to stop it again? I tried with no luck:
[code]

[2019-01-23 11:57] casperdcl commented on #193
I'd just `Ctrl`+`C` out of the gadgetron terminal to stop. You can always run `docker ps` to find the randomly generated name of the running container for use in the `docker stop` command. You can also assign a name when you run: `docker run ... -t gtron` will allow `docker stop gtron`

[2019-01-23 12:03] rijobro commented on #193
Ok, this is slowly starting to make sense. Once I've done `docker run my_gadgetron_image`, how can I then launch `gadgetron`? Normally after installing `gadgetron` you need to do something like:
[code]
Do I need to do that in this case? If so, I need to know where docker installs everything.

[2019-01-23 12:04] rijobro commented on #193
P.S. after running `docker run my_gadgetron_image`, I run `gadgetron` in another terminal and get the error: `gadgetron: command not found`. How can I access the gadgetron executables from docker?

[2019-01-23 13:15] KrisThielemans commented on #193
https://github.com/gadgetron/gadgetron/wiki/Using-Docker might answer your questions?

[2019-01-23 13:32] casperdcl commented on #193
@rijobro once you've done `docker run` to start the container, gadgetron will already be running. Your host code (containing a gadgetron client interface) will simply use gadgetron over port 9002 which is forwarded to the container.

[2019-01-23 13:32] casperdcl commented on #193
incidentally you can leave out all the GPU/nvidia stuff from the wiki link

[2019-01-23 13:35] casperdcl commented on #192
ah I didn't look at the correct `.travis.yml` - was looking at SIRF, not the superBuild. The PR needs some modification, will do

[2019-01-23 16:36] casperdcl opened #195 "fix docker builds"
- [ ] fix tests not running in docker
    + https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/483407710#L5255
    + [x] ensure future failures will not be silently ignored
- [x] ~~fix docker login~~
    + https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/483407710#L5234
    + ~~https://community.atlassian.com/t5/Bitbucket-questions/Piplenes-docker-login-can-not-perform-an-interactive-login-fro

[2019-01-24 12:49] evgueni-ovtchinnikov opened #197 "SIRF-SuperBuild build fails on Windows"
SIRF-SuperBuild build fails on Windows with the error message from CMake:
[code]
CMake GUI however displays both 'missing' items with correct values!

[2019-01-24 14:02] rijobro commented on #197
It looks like the error is coming from SIRF (thus `xGadgetron`), but I would have guessed that when you say you're looking at the CMake GUI, you're actually looking at the CMake of the superbuild. Is that correct?

If so, it sounds like `FFTW3F_LIBRARY` isn't being passed from the superbuild to SIRF. You could check this by looking at `builds/SIRF/build/CMakeCache.txt` and looking for `FFTW3F_LIBR

[2019-01-24 14:04] rijobro commented on #197
Here are the arguments in `External_SIRF.cmake`:
[code]
It doesn't look like `FFTW3F_LIBRARY` is being passed, so maybe you just need to add it in.

[2019-01-24 15:20] evgueni-ovtchinnikov commented on #197
Thanks, it worked!
I added to `CMAKE_ARGS`
[code]
where
[code]
I hope this will not break anything - any comments anyone?

[2019-01-24 15:51] rijobro commented on #197
Not sure for Windows, but try setting `BOOST_ROOT` to `C:/Users/wps46139/Documents/GitHub/build/SIRF-SuperBuild/INSTALL/`. If you can't seen an option for this in your CMake GUI, then try:
[code]

[2019-01-24 16:02] evgueni-ovtchinnikov commented on #197
no, it does not help, same error message

[2019-01-24 16:32] rijobro commented on #197
Well again, this looks like a SIRF error (not superbuild), so check the value of `BOOST_ROOT` in `builds/SIRF/build/CMakeCache.txt`.

[2019-01-24 23:05] KrisThielemans commented on #197
I never succeeded to get CMake to correctly find a Boost version that we compile. It's a very complicated moving target with boost renaming libraries in the build schemes, and CMake trying to catch-up.

I very much recommend to install the Boost binaries as they recommend, and set `USE_SYSTEM_BOOST=ON`.

[2019-01-24 23:40] KrisThielemans commented on #147
It's possible that this can be resolved from CMake 3.12 by setting `FFTW3_ROOT` as `find_library` now [goes and check there apparently](https://cmake.org/cmake/help/latest/command/find_library.html). It would need setting [CMP0074](https://cmake.org/cmake/help/latest/policy/CMP0074.html#policy:CMP0074). However, this would then influence all other `find` statements. See #153.

[2019-01-25 00:03] KrisThielemans opened #198 "should we set CMAKE_FIND_ROOT_PATH or CMAKE_PREFIX_PATH?"
From the [doc of find_library](https://cmake.org/cmake/help/latest/command/find_library.html) on search order:

and further down below

See https://cmake.org/cmake/help/v3.13/variable/CMAKE_FIND_ROOT_PATH.html#variable:CMAKE_FIND_ROOT_PATH
and
https://cmake.org/cmake/help/v3.13/variable/CMAKE_PREFIX_PATH.html#variable:CMAKE_PREFIX_PATH

All this seems to imply be could prepend the superbuild insta

[2019-01-25 00:08] KrisThielemans commented on #197
Regarding the missing `FFTW` stuff, @evgueni-ovtchinnikov can you give more information on how you're running this? If `USE_SYSTEM_FFTW=ON`, see https://github.com/CCPPETMR/SIRF-SuperBuild/issues/147.

Otherwise, I'm surprised as it searches for the library with [find_library](https://cmake.org/cmake/help/latest/command/find_library.html) , see [for example here](https://github.com/ismrmrd/ismrmrd

[2019-01-25 00:10] KrisThielemans commented on #197
See #7 for other remaining issues with the Windows build. Note however that I succesfully build on Windows 10 with CMake 3.13.2 with `USE_SYSTEM_BOOST=ON` and `USE_SYSTEM_FFTW3=ON`

[2019-01-25 11:10] rijobro opened #199 "Update SIRF-SuperBuild version_config to know if STIR has been built with ITK"
_Originally posted by @KrisThielemans in https://github.com/CCPPETMR/SIRF/issues/294#issuecomment-455208148_

[2019-01-28 09:49] paskino commented on #159
I'm no expert in csh, but it seems `endif` is needed in [csh if statements](https://en.wikipedia.org/wiki/C_shell#if_statement).

[2019-01-28 12:22] KrisThielemans commented on #126
I think `GTEST_ROOT` "may be set" by the user, not by the `FindGTest.cmake`. Could check on the [source](https://github.com/Kitware/CMake/blob/master/Modules/FindGTest.cmake).

Using `GTEST_LIBRARIES` is fraught with difficulties as you don't know what's in there, an din any case can't be passed on.

This is a common problem in the SuperBuild: we need to ensure that "ours" is found if we build it,

[2019-01-28 13:45] #151 closed

[2019-01-29 08:07] KrisThielemans commented on #159
sorry. message was confusing and I was in a hurry
[code]
The problem is a missing `endif` after the `PYTHONPATH` setting.

You can try this on the VM by in a terminal and then doing the `csh ...INSTALL/bin/env_ccppetmr.csh`, or (once fixed)  just typing `csh` and then `source ...INSTALL/bin/env_ccppetmr.csh`

[2019-01-29 08:12] KrisThielemans commented on #126
maybe you're right. cases:
- `USE_SYSTEM_GTEST=ON`: we set `GTEST_ROOT`
- `USE_SYSTEM_GTEST=OFF`:
  - the user sets `GTEST_ROOT`, so we'll pass it on
  - the user doesn't set `GTEST_ROOT`, so we set it to empty when calling CMake for Gadgetron.

Actually seems fine. If you agree, please close this issue.

I still think that a strategy if introducing `GTEST_CMAKE_FLAGS`, `STIR_CMAKE_FLAGS` etc woul

[2019-01-30 13:23] rijobro commented on #193
So I managed to get it working on my machine. Two things:
1. I can't do the Gadgetron unit tests. Maybe we can assume that their out-of-the-box docker versions pass them anyway?
2. I have no idea how to port this into the `travis.yml` file.

For the latter, installing and running it would be fairly easy:
[code]

But we would then need to alter this section (and I'm not sure how):
[code]

[2019-01-30 15:10] KrisThielemans commented on #193
yes.

Regarding travis, I haven't tried, but is the `docker run` command not equivalent to `./INSTALL/bin/gadgetron &`
I see no need for any other changes

[2019-01-30 15:37] rijobro commented on #193
Yes I would have thought so, but I wasn't sure how to do an `if`/`else` statement in this part of the travis script.

Also, would we be able to keep the `gadgetron.log&` part of the first line, too?

[2019-01-30 15:52] rijobro commented on #193
current attempt:
[code]

Branch is here: https://github.com/CCPPETMR/SIRF/tree/Gadgetron_OSX

[2019-01-30 18:52] KrisThielemans commented on #193
looks ok to me. Does it work on your machine?

I guess I'd use a variable to see if we are using docker-gadgetron or not (we can test this on ubuntu as well). Could use `EXTRA_BUILD_FLAGS` to see if we're building Gadgetron or not as a work-around, but might be better to do it the other way around (set `BUILD_Gadgetron=OFF` if using docker). but that's fine-tuning.

[2019-01-31 14:40] evgueni-ovtchinnikov commented on #197
same problem with boost on windows 7

all boost libraries are actually present in `INSTALL/lib`, but there are no respective dlls in `INSTALL/bin`, which is a likely reason for the error messages

moreover, there are no boost dlls in build/SIRF-SuperBuild at all

[2019-01-31 15:06] rijobro commented on #197
Surely all the dlls belong in `INSTALL/lib`, and not in `INSTALL/bin`, so it's normal that there aren't any dlls in `INSTALL/bin`?

[2019-01-31 15:11] KrisThielemans commented on #197
Please do not waste time trying to set `USE_SYSTEM_BOOST=OFF` on Windows. It's going to be a struggle. Instead, install the boost binaries, set the BOOST_ROOT environment (or CMake) variable.

[2019-01-31 15:35] rijobro commented on #193
The [travis docs for docker](https://docs.travis-ci.com/user/docker/) give the following example:
[code]

However, after copying that, this line:
[code]
gives the error:
[code]

I think that the difference between their example and mine is that I used mine as part of the bash script.

Any idea what to do? I tried using `brew install docker` instead, but that ran into an initial startup problem:
[c

[2019-01-31 17:11] casperdcl commented on #193
Hah...

https://docs.travis-ci.com/user/docker/

[2019-02-01 10:57] evgueni-ovtchinnikov commented on #197
no, it does not help, same error message

[2019-02-01 11:02] evgueni-ovtchinnikov commented on #197
installed boost_1_65_1, boost is ok, back to fftw3 problem:
[code]

[2019-02-01 11:18] rijobro commented on #159
done with 8e91546ad7fa8044f457f35b26c2b9f38da86743.

[2019-02-01 11:18] #159 closed

[2019-02-01 15:33] KrisThielemans commented on #197
This commit makes little sense to me, given the discussion in #147. Maybe I was incorrect there.

In any case,
- if `USE_SYSTEM_FFTW3=OFF`, those variables aren't set.
- it would need similar fixes for ISMRMRD and Gadgetron presumably.

Can we do this via a PR please?

[2019-02-01 17:28] KrisThielemans opened #203 "dependent projects need to be passed variables as cached"
We currently pass lots of directories like this
[code]
This works fine. However, if you then go into the build directory of the dependent project (e.g. SIRF), and issue CMake there, it appears as if `STIR_DIR` is not set as part of the cached variables. I believe this therefore can cause problems because it might then pick up another location (only 99% sure).

The solution seems to be to do
[code]

[2019-02-05 14:55] rijobro commented on #192
This has started happening again. Most recent error that should be causing it to be red happened during the `cmake` of SIRF:

[code]

[2019-02-05 15:51] paskino commented on #192
on what OS?

[2019-02-05 16:19] rijobro commented on #192
both unfortunately...

[2019-02-06 14:46] rijobro commented on #197
This re-closed itself automatically, not sure why.

[2019-02-06 15:22] casperdcl commented on #197
because

includes the text

github being too clever...

[2019-02-06 16:20] rijobro commented on #197
ah... Thanks!

[2019-02-08 16:59] evgueni-ovtchinnikov commented on #197
my standalone SIRF has CMake option `SIRF_INSTALL_DEPENDENCIES`, which forces copying boost dlls to `INSTALL/bin`, whereas SIRF-SuperBuild does not have one, and Python and Matlab fail to load SIRF Gadgetron libraries

[2019-02-08 17:01] evgueni-ovtchinnikov commented on #197
Matlab fails with the error message

[code]
apparently there is a conflict between HDF5 libraries used by SuperBuild and matlab's ones

[2019-02-11 15:00] evgueni-ovtchinnikov commented on #197
overwriting matlab hdf5 dlls (luckily, there are only two of them) does fix the problem, but it is hardly a solution many users would like :(

[2019-02-11 15:34] casperdcl commented on #197
could prefix to matlab's path. Can also contact matlab to get them to update the dlls (I've done this before)

[2019-02-11 16:23] KrisThielemans commented on #197
This is the same problem as what we're having with Boost https://github.com/CCPPETMR/SIRF/issues/240.

Like there, I think the best thing to do is to build SIRF with the same version as what is used by Matlab. That implies that we need to check what the HDF5 version is for different Matlab versions. Fun.

@evgueni-ovtchinnikov would you be able to send an email to Mathworks support requesting the

[2019-02-15 00:11] casperdcl commented on #195
ah this is actually caused by https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/483407710#L5089

@paskino what's the current quickest way to install the SuperBuild? I was using ubuntu16.04 with as many system libs as possible. Will I have to `-DUSE_SYSTEM_Boost=OFF` or can I get away with upgrading to 18.04 and using system libs?

[2019-02-15 02:34] casperdcl commented on #195
sigh #91 would've fixed this issue

[2019-02-15 07:50] KrisThielemans commented on #195
I'm fine with upgrading the docker build to 18.04. Otherwise loads of trouble with Gadgetron. In any case, it's a container, so why not?

[2019-02-15 07:59] KrisThielemans commented on #12
@paskino, this seems a trivial thing to do, but it isn't really necessary. Therefore feel free to re-assign to v2.1

[2019-02-15 08:00] KrisThielemans commented on #47
@rijobro I guess this one can be closed?

[2019-02-15 08:01] KrisThielemans commented on #21
Still postponing, as it will likely create installation problems. Also, ROOT interferes with error handling and gives rather confusing messages when there's a segfault (leading people to think it's a ROOT problem).

[2019-02-15 08:07] KrisThielemans commented on #203
@rijobro can you check if adding `PATH` indeed caches it?

[2019-02-15 08:11] KrisThielemans commented on #189
@paskino can you do this with backwards compatibility? Call the option that way, but if the old one is set, use it to set the default for the new I guess.

[2019-02-15 08:13] KrisThielemans commented on #180
This is important but I don't think urgent, and wouldn't break backwards compatibility. I';; therefore assign to v2.1, but please comment if you disagree.

[2019-02-15 08:16] KrisThielemans commented on #168
@rijobro, could you check this with recent `CMake` and `brew` and update accordingly? The only thing we can do is to document it on the Wiki. After that's done, please close this.

[2019-02-15 08:20] KrisThielemans commented on #162
@paskino, please update `CMakeLists.txt` to require 3.10 and update our install instructions to recommend using a recent CMake (at least 3.11)

[2019-02-15 08:29] KrisThielemans commented on #160
This is not something we can fix ourselves. I'll keep the issue open for now to update it with info on ISMRMRD progress.

[2019-02-15 08:30] KrisThielemans commented on #146
@rijobro you're working on this. It's quite tricky though. Please refer to this issue with your updates and comment.

[2019-02-15 08:30] KrisThielemans commented on #99
closing as it all seems fine recently.

[2019-02-15 08:31] #99 closed

[2019-02-15 10:56] KrisThielemans commented on #43
This seems not necessary since we've introduced `version_config.cmake`. If a user switches to an old `STIR_TAG`  (or other dependency) and the options need to change, it's not really for us to handle that properly I think. So closing.

[2019-02-15 10:56] #43 closed

[2019-02-15 10:57] KrisThielemans commented on #91
This is too ambitious for v2.0 I believe. I suggest to postpone

[2019-02-15 10:59] bathomas commented on #91
Agree. Should also consider cloud(s) inclusion/exclusion in this.

[2019-02-15 16:11] rijobro commented on #146
external fix required (PR on gadgetron: https://github.com/gadgetron/gadgetron/pull/726).

Once this is done, should be ok to update.

[2019-02-15 16:18] rijobro commented on #168
I use `Brew` installed HDF5 and don't have any problems. Not sure how you want me to document this.

[2019-02-15 16:19] rijobro commented on #203
Confirmed. We should be doing this.

[2019-02-15 16:32] #47 closed

[2019-02-16 00:32] KrisThielemans commented on #168
what version of HDF5 does `brew` currently install? If it's still 1.8, then presumably your CMake is more recent than 3.11.4. We should then either require CMake 3.12 on OSX, or put it in the wiki that `USE_SYSTEM_HDF5=ON` might fail with CMake version 3.11 (or presumably earlier)

[2019-02-18 16:09] rijobro commented on #168
current version installed by `brew` is `1.10.4`. Will update the wiki for the CMake version.

[2019-02-18 17:07] rijobro commented on #168
instruct users to use >=3.12 here: https://github.com/CCPPETMR/SIRF/wiki/SIRF-SuperBuild-on-MacOS

[2019-02-18 17:07] #168 closed

[2019-02-22 16:23] KrisThielemans commented on #197
Info from MathWorks:

The code [here](https://github.com/Kitware/CMake/blob/63928f0868ae48f0b21464b466a0f8bc7b8e3369/Modules/FindMatlab.cmake#L693) illustrates how to call matlab (will need to use `$(Matlab_MAIN_PROGRAM)`). [Here](https://github.com/UCL/STIR/blob/14f177a42af18187c27f17ab064050f8103aff11/src/cmake/FindMATLAB.cmake#L245) is an example for parse the output. The parsing is far too com

[2019-02-23 21:35] KrisThielemans opened #206 "Add Travis test for using Gadgetron via Docker"
As opposed to building Gadgetron, we can use its docker container. This was tried by @rijobro to fix #193. That attempt was abandoned as Travis doesn't support Docker on OSX, but we should add a test case on Linux. We should then also document how to do this (obviously by pointing to the Gadgetron doc).

[2019-02-23 21:36] KrisThielemans commented on #193
This was fixed upstream, see https://github.com/gadgetron/gadgetron/issues/719

[2019-02-23 21:36] #193 closed

[2019-02-23 21:54] KrisThielemans commented on #146
Done in #205

[2019-02-23 21:54] #146 closed

[2019-02-23 22:12] KrisThielemans commented on #207
They experience the same troubles.

[2019-02-23 22:14] KrisThielemans commented on #207
Info from MathWorks:

[2019-02-23 22:29] KrisThielemans opened #208 "Need to use same HDF5 version as Matlab"
As per #197 and also #129, it seems we can only avoid conflicts between HDF5 versions by using exactly the same version as Matlab. We therefore need to check that if we build with Matlab, we download the same HDF5 version and build with that (as we cannot use Matlab's HDF5 libraries).

Info from Mathworks

The code [here](https://github.com/Kitware/CMake/blob/63928f0868ae48f0b21464b466a0f8bc7b8e33

[2019-02-23 22:32] KrisThielemans commented on #197
HDF5 info is in #208, Boost info is in #207

[2019-02-23 22:35] KrisThielemans commented on #197
Proposed FFT2 fix is in #204

[2019-02-23 23:10] KrisThielemans commented on #195
@casperdcl, we're now ready for Ubuntu 18.04. Please use that (and the system boost and hdf5 etc). Currently, the docker build has a timeout.

[2019-02-23 23:20] KrisThielemans commented on #195
Ignore this. I was checking the SIRF builds where the last job has a time-out. sorry

[2019-02-25 00:30] KrisThielemans opened #210 "build less of ITK"
In the spirit of #12, and because of time-outs on Travis https://github.com/CCPPETMR/SIRF/issues/286, we should try to reduce what modules are built from ITK, which [can be done via groups](https://itk.org/ITKSoftwareGuide/html/Book1/ITKSoftwareGuide-Book1ch2.html). I think STIR only needs `-DITKGroup_IO=On`.

Currently, we're building with `-DModule_ITKReview=ON`, which then drags in pretty much

[2019-02-25 15:26] bathomas commented on #210
[pet-rd-tools](https://github.com/UCL/pet-rd-tools) no longer requires `Module_ITKReview`. See #211

[2019-02-26 16:07] casperdcl commented on #92
There's a "Transfer issue `Beta`" button here for future reference --->

[2019-02-26 16:30] casperdcl commented on #195
@KrisThielemans from `.travis.yml`, where do the following dependencies come from?

[code]

Are they required for gadgetron?

[2019-02-26 16:41] KrisThielemans commented on #195
Not 100% sure. They're not mentioned on https://github.com/gadgetron/gadgetron/wiki/Linux-Installation. I think they are optional and will make some Gadgetron stuff faster. I see we have them in [the VM](https://github.com/CCPPETMR/CCPPETMR_VM/blob/bda900d9674ff8be05429cf7b41da8491f70c0eb/scripts/INSTALL_prerequisites_with_apt-get.sh#L22) as well (which I'm sure we copied into .travis.yml).

@rijo

[2019-02-26 16:44] casperdcl commented on #195
hmm they're not in docker atm, nor are -DUSE_ITK or ACE. Was trying to update things. Such #91 much fun.

[2019-02-26 16:48] KrisThielemans commented on #195
ACE has to be there somehow. Otherwise it will fail AFAIK (could be by default I guess) .

ITK is optional but useful to read nifti's and Dicoms etc with STIR.

what about for docker cloning CCPPETMR_VM and use some of its scripts? I guess we could do the same for Travis but I suppose it'll be faster to list them explicitly (not sure).

[2019-02-26 17:00] casperdcl commented on #195
I don't know - I'd be willing to deal with #91 now if you/@paskino are ready to merge the VM repo into this one, then it would be easier

[2019-02-26 17:00] casperdcl commented on #195
argh I'm also running into https://github.com/conda/conda/issues/6030 now

[2019-02-26 17:07] KrisThielemans commented on #91
would have to be done such that top-level dir contains `CMakeLists.txt` for backwards compatibility.

When moving things, would it be better to merge PRs first?

[2019-02-26 17:08] KrisThielemans commented on #195
re merging CCPPETMR_VM here. I guess we can do this while keeping the old repo, so I don't mind really. However moving everything to the proposed structure seems quite (too) ambitious... I'm afraid I cannot help really. no time. sorry.

[2019-02-26 17:13] casperdcl commented on #91
merge PRs in the VM repo (https://github.com/CCPPETMR/CCPPETMR_VM/pulls), sure

[2019-02-26 18:13] casperdcl commented on #195
OK I now have:

[code]

Is this #147? I've already installed `libfftw3-dev`

[2019-02-26 18:24] casperdcl commented on #195
nvm, seems to be caused by `conda install gxx_linux-64` which was my attempted fix of https://github.com/conda/conda/issues/6030

[2019-02-26 18:51] casperdcl commented on #195
[code]

[2019-02-26 21:35] KrisThielemans commented on #195
hmmm. I suspect this is a NiftyReg issue. Maybe someone with Ubuntu 18.04 (non-docker) could confirm this.

Their [CMake file](https://github.com/KCL-BMEIS/niftyreg/blob/731a565bd42ca97ff5968adb1c06133ea72f0856/CMakeLists.txt#L173 doesn't add linker flags).  I had the same in STIR where the `-fopenmp` flag wasn't passed, and added [a work-around](https://github.com/UCL/STIR/blob/63c8f6ffdc3ea7674f

[2019-02-27 14:25] casperdcl commented on #195
Hah that solved it.

[2019-02-27 14:31] casperdcl opened #212 "fix NiftyReg with OpenMP"
using
[code]

On Ubuntu 18.04, the output is:

[code]

(from #195)

[2019-02-28 18:03] #212 closed

[2019-03-01 14:21] casperdcl commented on #206
https://github.com/CCPPETMR/SIRF-SuperBuild/pull/214/commits/3fff29474f05338e7b265e947363ceebe6da0e6d is initial framework

[2019-03-01 15:10] casperdcl commented on #206
@KrisThielemans @evgueni-ovtchinnikov is there an env variable for pointing to the gadgetron host? My assumption is this is the workflow:

- [x] `sirf` container: `-DBUILD_GADGETRON=OFF`
- [x] `gadgetron` container: expose `9002`
- [ ] `sirf` container: ensure use of `tcp://gadgetron:9002` via either an env var or confic file etc.
  - I assume the current default is `tcp://localhost:9002`, in whic

[2019-03-01 17:21] casperdcl commented on #206
should be noted that the current `ccppetmr/sirf` image (building gadgetron) is 3.5GB, while `gadgetron/ubuntu_1804_no_cuda` alone is 3.74GB on my machine (must contain more optional features than we build)

[2019-03-01 20:46] KrisThielemans commented on #206
Currently host and port are [hardwired](https://github.com/CCPPETMR/SIRF/blob/0bd5123952e070aa52f43a458dcfd8705f23e5b2/src/xGadgetron/cGadgetron/include/sirf/cGadgetron/gadgetron_x.h#L236), see https://github.com/CCPPETMR/SIRF/issues/182

[2019-03-01 23:56] casperdcl commented on #206
after #214 is merged I'll have a wonderfully small change to make to spin off a separate `gadgetron` container and avoid building it in the `sirf` one.

The downside is that the only way hardcoded `localhost:9002` can work with docker networking restrictions on port forwarding is on linux. Need to remove hardcoded `localhost` to work on windows.

[2019-03-02 02:30] #195 closed

[2019-03-03 13:15] casperdcl opened #216 "docker: service"
Have a headless docker service container running jupyter, gadgetron, etc... similar to https://github.com/CCPPETMR/CCPPETMR_VM/issues/117. This allows:

[code]

[2019-03-12 12:53] KrisThielemans commented on #121
I think this is hopeless for a Superbuild project. All projects are built/installed directly. Changing this would need major surgery in the CMake `ExternalProject` stuff.

We should just close this, and just add a note in the INSTALL doc.

[2019-03-12 14:22] rijobro commented on #121
This doesn't seem to be the same problem as CCPPETMR/SIRF#179 anyway. On the SIRF side, the problem was that files were being copied during the `configure` step, as opposed to the `make` step here.

[2019-03-12 18:07] KrisThielemans commented on #121
ok, @paskino or @rijobro, could you just update the INSTALL to say "either change the prefix, or use `sudo make`" (but say it better!) and let that commit close this issue

[2019-03-12 18:09] casperdcl commented on #121
We can fix (have already I think?) configuring into an intermediate directory, the problem as far as I can remember is some external dependencies don't.

[2019-03-12 18:12] KrisThielemans commented on #121
we've fixed SIRF. The problem here is the SuperBuild. just `make` will actually imply `install` for `ExternalProject`. Let's not go there...

[2019-03-13 09:47] rijobro commented on #121
We're getting confused here. We fixed the SIRF problem by splitting the `configure` and `install` steps. In the superbuild, we don't install to `/usr/local` by default (instead `${CMAKE_BINARY_DIR}/INSTALL`, so that won't require `sudo` either.

I think we can simply close this issue.

[2019-03-13 09:49] KrisThielemans commented on #121
It just needs a line in the installation documentation, as I wrote above.

[2019-03-16 22:41] KrisThielemans commented on #162
`docker/build_essential-ubuntu.sh` already [uses CMake 3.14](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/97cb8d4fc1973660932c46d6d56d64d5033b5a19/docker/build_essential-ubuntu.sh#L21) now. Azure uses https://github.com/CCPPETMR/CCPPETMR_VM/blob/master/scripts/INSTALL_CMake.sh

[2019-03-18 11:54] #162 closed

[2019-03-18 12:07] #216 closed

[2019-03-25 10:25] paskino commented on #210
By the way, I noticed that editing the cache and rebuilding would always trigger the build of ITK. Even if I've not changed the ITK config/files.

[2019-03-29 10:17] KrisThielemans commented on #189
[code]

[2019-03-29 11:19] rijobro commented on #121
closed via cee0027275df20ae32f490c84c0e7c79864fe0da.

[2019-03-29 11:19] #121 closed

[2019-03-29 11:23] rijobro commented on #95
Sorry, just revisiting this and I can't remember what I need to test. On OSX, `BUILD_STIR_WITH_OPENMP` defaults to `OFF` and that works just fine.

Does that mean this issue is resolved?

[2019-04-03 07:18] rijobro opened #228 "Travis not to do MR_TESTS if BUILD_GADGETRON=OFF"
On OSX, there are problems with boost 1.69 (brew's current version) and Gadgetron. By setting `BUILD_GADGETRON=OFF`, the rest of SIRF compiles.

However, this line: `ctest --output-on-failure; test_fail=$?` will always try to run `MR_TESTS_PYTHON`. Is there anything I can do about this?

I think my options are:
1. Put flag e.g., `BUILD_MR_TESTS` in SIRF and propogate to Superbuild
2. In Travis, cd

[2019-04-03 10:03] casperdcl commented on #228
https://cmake.org/cmake/help/latest/variable/CTEST_CUSTOM_TESTS_IGNORE.html

[2019-04-03 10:04] KrisThielemans commented on #228
The SIRF change would be addressed with https://github.com/CCPPETMR/SIRF/pull/353.

[2019-04-03 10:04] casperdcl commented on #228
something like if OSX/boost version equals 1.69, append MR_TESTS_PYTHON to CTEST_CUSTOM_TESTS_IGNORE.

[2019-04-03 10:06] casperdcl commented on #228
want me to open a PR?

[2019-04-03 10:08] rijobro commented on #228
Would be great if you could. But careful, the `MR_TESTS_PYTHON` would have to get passed down two levels - from the superbuild ctest (all of SIRF) to the individual SIRF ctests. If you can figure how to do that, go ahead!

[2019-04-03 10:11] rijobro commented on #228
With `DISABLE_Gadgetron`? I don't necessarily want to disable the ISMRMRD wrapping, just the testing (since this requires an instance of Gadgetron to be running).

[2019-04-03 11:33] KrisThielemans commented on #228
ah well. It seems a bit strange to me to put in code changes just to accomodate CI, but I agree I see the value of still testing if the ISMRMRD side of things compiles (or even works). We could presumably have yet another (advanced) CMake variable `DISABLE_Gadgetron_tests` (or whatever variation on that name).

@evgueni-ovtchinnikov are there CTests for `sirf.Gadgetron` that don't need `Gadgetron`

[2019-04-03 12:16] casperdcl commented on #228
ah wait, so really this comes down to skipping `MR_TEST*` iff `gadgetron` doesn't exist (regardless of whether we're building it or not)?

[code]

[2019-04-03 12:22] rijobro commented on #228
This is sort of tricky, since the compilation of our MR code only requires ISMRMRD. However, running it requires Gadgetron. This is why, even though Gadgetron won't be present on Travis, we still want to compile the MR code (just not test it).

Sorry if I've misunderstood, but in your quoted code it looks like you're telling the superbuild not to test `MR_TEST*`. However, these flags need to get p

[2019-04-06 08:51] KrisThielemans opened #230 "rename BUILD_STIR_* etc to STIR_* etc?"
I think it makes more sense to have all options for a dependency start with that name. So `BUILD_STIR_EXECUTABLES` should be `STIR_BUILD_EXECUTABLES`, `BUILD_STIR_WITH_OPENMP` should just be `STIR_OPENMP` I guess. Will make grouping nicer.

[2019-04-08 14:55] KrisThielemans commented on #95
At some point, we have to get OpenMP support on working on Macs. We might then have to pass the flags through that you mentioned in your first comment.
Let's leave this for later though, so I'll reassign to 2.1.

[2019-04-09 20:57] KrisThielemans opened #232 "petmr-rd-tools -> pet-rd-tools"
also might need a change in `version_config.cmake`

[2019-04-09 21:22] KrisThielemans opened #233 "find blas problem"
we get
[code]
I believe I commented about this before but didn't find it.

[2019-04-10 09:16] #230 closed

[2019-04-10 09:16] #189 closed

[2019-04-10 09:20] paskino commented on #233
On Linux something like this could work
[code]

[2019-04-11 07:51] KrisThielemans opened #237 "updating from SIRF 1 to 2 can fail due to data submodule"
I did the following on the new VM:
1. build (which installed 1.1.1)
2. download SIRF-exercises data
3. fix tags and `updateVM.sh`, therefore going to SIRF 2.0

Error
[code]

[2019-04-11 07:55] KrisThielemans commented on #237
This is related to https://github.com/CCPPETMR/SIRF-Exercises/issues/10

[2019-04-11 08:25] KrisThielemans commented on #237
Fixed with https://github.com/CCPPETMR/SIRF-Exercises/commit/3d0dc35cccad3bcd29af0de77311353fa45512b6

[2019-04-11 08:25] #237 closed

[2019-04-24 11:40] paskino commented on #233
I think [this](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_Gadgetron.cmake#L68) line is wrong. It should be

[code]

[2019-04-24 12:35] rijobro commented on #233
If I remember correctly, Gadgetron is the only package in the Superbuild that requires BLAS. We do the `find_package` so that we can pass `CBLAS_INCLUDE_DIR` and `CBLAS_LIBRARY` in `External_Gadgetron.cmake`.

As far as I understand, it doesn't matter how we do it provided we give these two variables. However, we do want to avoid Apple's library if possible (because of this issue: https://github.c

[2019-04-24 12:44] paskino commented on #233
`CBLAS` is not picked up anyway. Gadgetron's got a `FindCBLAS.cmake` module.
However, the warning reported
[code]

is due to the fact that we issue `find_package(blas)` rather than `find_package(BLAS)`

[2019-04-24 13:17] paskino commented on #233
just for reference this is the CMake documentation for https://cmake.org/cmake/help/v3.13/module/FindBLAS.html

At any rate, the only thing that must be changed is [this](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_Gadgetron.cmake#L68) line
[code]

[2019-04-25 08:25] #233 closed

[2019-04-25 08:26] paskino opened #239 "find mkl warning"
as with #233 we have [this](https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/523962099#L1831) warning

[code]
which is originated by
[code]

I suggest to look for MKL by setting the `BLA_VENDOR` variable.

[2019-04-25 09:03] KrisThielemans commented on #239
We cannot put MKL on the VM or anywhere else as far as I understand. It needs you to agree on an Intel license and download.

we have to ignore this as far as I understand. (Possibly we could include instructions on how to download MKL etc, but it's fast enough without...)

[2019-04-25 09:05] KrisThielemans commented on #239
ah. we're doing `find_package(MKL)` in the SuperBuild?

[2019-04-25 09:49] paskino commented on #239
Actually, if a system has MKL installed `find_package(BLAS)` will look for a BLAS implementation starting from MKL, so it should be able to find it.

It seems that we want to pass some info to Gadgetron's CMakeLists.txt

[code]

However, even if we can successfully find MKL, `find_package(BLAS)` is not returning the version string, so we won't be able to finish setting the variables.

Gadgetron it

[2019-04-25 09:55] KrisThielemans commented on #239
ok. I'd be fine with just setting `USE_MKL=OFF`. I'd even do it always. Gadgetron people will need to switch to the CMake `BLAS` package anyway. This is their problem.

[2019-04-25 10:12] paskino commented on #239
I've [installed](https://github.com/eddelbuettel/mkl4deb) MKL on my VM and setting the `USE_MKL=ON` for Gadgetron does actually build.

Armadillo is also able to pick the MKL library by itself. So I'd add an advanced option to the SuperBuild which would allow an experienced user to install and build Gadgetron with MKL.

[code]

[2019-04-25 11:22] paskino commented on #239
It seems that the Gadgetron tests take ages with MKL. Clearly there is a problem because I've got 100% CPU usage and no Gadgetron activity.

The tests with SIRF+Gadgetron work fine.

[2019-04-26 15:46] #232 closed

[2019-05-02 15:23] paskino opened #242 "wrong variable name default_BUILD_STIR_EXECUTABLES ?"
https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_STIR.cmake#L62

[code]
seems that in `RenameVariable` we use `default_STIR_BUILD_EXECUTABLES` instead than `default_BUILD_STIR_EXECUTABLES `

[2019-05-02 19:52] KrisThielemans commented on #242
good catch. could you please correct this?

[2019-05-03 11:31] #242 closed

[2019-05-09 08:58] rijobro opened #244 "ITK always rebuilds"
When you run `make`, it seems that ITK always (or a lot of the time, I can't fully remember) rebuilds. Any ideas why this would be the case?

If nothing's changed, it only takes a minute or two, but it's a wasted minute or two...

[2019-05-09 11:24] paskino commented on #244
I'm not sure how you'd know if something has changed in ITK without running `make ITK`.

However I noticed the same behaviour that ITK would rebuild taking a lot of time.

ITK is a [dependency](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_STIR.cmake#L27) of STIR

[2019-05-10 08:46] KrisThielemans commented on #244
I don't think it's rebuilding, it's checking. It might be updating locations in installed shared libraries etc, which is something we have zero control over. Unless anyone has any ideas, I propose to close this.

[2019-05-10 08:53] rijobro commented on #244
Just to clarify, when I run `make` in the directory where I've changed nothing since the last successful build, and get the following output:
[code]

So you can see that ITK is running `cmake`, `make` and `make install` every time.

Is this what you mean by "checking"?

[2019-05-10 09:03] KrisThielemans commented on #244
yes. It's unfortunate that it takes so long, but I cannot see what we can do about it. You could always install ITK externally...

[2019-05-10 09:03] #244 closed

[2019-05-10 09:09] rijobro commented on #244
You can even install with the superbuild then switch to using external ITK and pointing to the version that the superbuild built for you. Shame though.

[2019-06-21 07:00] KrisThielemans opened #250 "create matlab (and python?) startup file similar to env_ccppetmr.*sh"
Many people will start matlab from their GUI as opposed to command line. that means that they won't have the environment variables from env_ccppetmr.*sh yet.
This is the same problem as https://github.com/CCPPETMR/CCPPETMR_VM/issues/12.

One solution would be to create a `matlab_startup_ccppetmr.m` that has more or less the same content. It could go like
[code]
then tell people to put this in thei

[2019-07-08 16:48] rijobro opened #253 "BUILD_ISMRMRD (=OFF)"
It would be good to have an option to disable ismrmrd. This should then remove all of ISMRMRD's dependencies, e.g., HDF. (SIRF currently depends on HDF, but it should probably be ISMRMRD that depends on it. That way, when ISMRMRD is removed, HDF is also removed).

I could imagine this getting tricky. We don't want to compile MR-based SIRF code if ISMRMRD is disabled.

[2019-07-09 12:53] rijobro commented on #253
@evgueni-ovtchinnikov I gave this a go [here](https://github.com/rijobro/SIRF-SuperBuild/tree/disable_ISMRMRD), but I haven't tested it at all.

[2019-07-11 15:46] rijobro opened #254 "verbose git clone output"
I'm currently building the superbuild on a cluster and it appears to be hanging:
[code]
It has sat like that for quite a while now. Normally, `git clone` shows the progress - can I do this via the superbuild? I need to know if it's stuck at 0 or just being very slow, so more verbose output would be useful.

[2019-07-12 14:20] casperdcl opened #255 "docker: add gpu-enabled image"
may be required for hackathon and future plans

- [ ] ensure compatibility with `nvidia-docker`
- [ ] perhaps use `jupyterhub` instead of single-instance server

[2019-07-12 14:22] casperdcl commented on #206
@evgueni-ovtchinnikov @KrisThielemans is this now done?

[2019-07-12 16:29] KrisThielemans commented on #206
I think so, but I'm not sure how. Have a look at https://github.com/CCPPETMR/SIRF/issues/182

[2019-07-12 16:46] casperdcl commented on #206
right...

https://github.com/CCPPETMR/SIRF/blob/4b5f9ff429f64f8ae878c1366ab0cf2805526e72/examples/Python/MR/Gadgetron/fully_sampled_recon_single_chain.py#L97-L111

So we can do this in python then:

[code]

[2019-07-25 14:33] KrisThielemans opened #257 "re-running cmake to change tags (or DEVEL_BUILD=on) doesn't work"
@evgueni-ovtchinnikov and I tried the following:

1. build with default options (i.e. latest release)
2. `cmake -USTIR_TAG -USIRF_TAG -DDEVEL_BUILD=ON .; make`
  This did not update the tags to `master` in the STIR and SIRF clones.
3. `cmake -STIR_TAG=master -DSIRF_TAG=master .; make`
  This didn't help either.

Note that the tags in the Superbuild's `CMakeCache.txt` were fine. It's just that `Ext

[2019-07-30 14:55] paskino opened #258 "NIFTYREG depends on Zlib"
Currently Niftyreg depends on Zlib and it's actually [able](https://github.com/KCL-BMEIS/niftyreg/blob/master/CMakeLists.txt#L91) to build it itself if not found, but we don't pass the appropriate variable.

Shall we pass `-DBUILD_ALL_DEP` to `NIFTYREG`?

[2019-07-30 16:43] rijobro commented on #258
Surely we don't want to build anything that might already be on the user's system. Do you run into an error if `zlib` isn't found by NiftyReg?

[2019-07-31 11:34] paskino commented on #258
I built on Scientific Linux 7 which didn't have the system zlib-devel package installed, and it failed.
NIFTYREG will only build if the library isn't found.

[2019-07-31 13:24] rijobro commented on #258
Ok, sounds reasonable to me.

[2019-08-21 09:49] bathomas opened #260 "[Azure] CUDA environment variables not set before starting Jupyter service"
The Jupyter service on gpu-enabled Azure VM does not start with appropriate CUDA environment variables set. Could be related to `$PATH`, `$LD_LIBRARY_PATH` and/or `$CUDA_HOME`.

[2019-09-06 16:48] casperdcl commented on #255
At the top of all the docker-compose files, we need `version: '2.3'` in order for `runtime: nvidia` to work. Can't remember if simply changing that causes any issues. After that we may have to document these steps:

- ensure host is linux
- install nvidia drivers (don't need cuda sdk)
- install nvidia-docker (https://github.com/NVIDIA/nvidia-docker)
- uncomment the `driver: nvidia` line in `docker

[2019-09-17 14:23] paskino commented on #258
BTW, I encountered a weird (weird?) version conflict on libpng which was solved by passing `-DBUILD_ALL_DEP=ON` to `NIFTYREG`

[2019-09-17 14:29] paskino opened #261 "NIFTYREG with CUDA"
It is possible to build `NIFTYREG` with CUDA support but linking `SIRF` will generate the following error (on CentOS7).

[code]

I tried to add `-DCMAKE_POSITION_INDEPENDENT_CODE:BOOL=ON` to the `CMAKE_ARGS` section in [`External_NIFTYREG.cmake`](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_NIFTYREG.cmake#L61) but the error persists.

[2019-09-20 11:44] paskino opened #262 "Shared libraries not found if installed with conda"
On CentOS7, I use conda as package manager and install in a specific (disposable) conda environment the required dependencies, between these are numpy and blas libraries.

I create such conda environment and activate it.

After successfully building and installing (in such conda environment) with the SuperBuild, I source the [environment script](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/mas

[2019-09-20 11:44] #262 closed

[2019-09-24 09:22] rijobro opened #263 "sirf-contrib"
[SIRF-contrib](https://github.com/CCPPETMR/SIRF-Contribs) needs to be git cloned and installed with the rest of the SIRF python code.

The end goal is so that we can do `from sirf.contribs.kcl import Prior` etc.

[2019-09-29 18:47] casperdcl commented on #22
Think we can rename it to just `SuperBuild`. The way redirection works with github means previous clones should continue to work.

[2019-09-30 09:13] KrisThielemans opened #267 "travis continues if compilation failed"
this is at least true on OSX. see #264 for an example where Gadgetron build failed but travis only failed at https://github.com/CCPPETMR/SIRF-SuperBuild/blob/b94c622f631d9b476f92cee05bcea6ec40bc79b3/.travis.yml#L273

[2019-10-02 22:03] casperdcl opened #268 "Travis updates"
- use stages (https://docs.travis-ci.com/user/build-stages/)
    + use conditionals for deployment, maybe allow Mac builds to fail https://docs.travis-ci.com/user/conditional-builds-stages-jobs/
- may help with #167
- change default `dist` to 16.04 Xenial (https://docs.travis-ci.com/user/trusty-to-xenial-migration-guide/) or even 18.04 Bionic (https://docs.travis-ci.com/user/reference/bionic/) ins

[2019-10-02 22:03] casperdcl commented on #268
@KrisThielemans can you think of any reason to avoid updating travis to 16.04 or 18.04?

[2019-10-02 22:13] KrisThielemans commented on #268
not really. I think having 16.04 would still be good, but if it creates a lot of trouble with docker install or so, it's probably better to go straight to 18.04

[2019-10-02 22:17] casperdcl commented on #268
can change default to 18.04 but also have a couple of explicit 16.04 and 14.04 builds. We only do 14.04 at the moment which is pretty old.

[2019-10-02 22:22] KrisThielemans commented on #268
don't volunteer for too much work :-)

[2019-10-07 10:09] paskino opened #269 "Create ENABLE_OpenMP option in SuperBuild.cmake"
following [this](https://github.com/CCPPETMR/SIRF-SuperBuild/pull/154/files#r331764891) comment, there should be a SuperBuild-wide option to use or not OpenMP.

[2019-10-07 10:23] rijobro commented on #261
Just given this a go but it looks like it's not possible (as far as I can see) because you can't have dynamic libraries that depend on static libraries.

Swig requires shared libraries (`_pyreg.so`), yet NiftyReg with CUDA seems to require static libraries (warning is displayed in NiftyReg with `-DBUILD_SHARED_LIBS=ON`: `CUDA is not compatible with shared libraries. Forcing BUILD_SHARED_LIBS to OF

[2019-10-07 10:28] KrisThielemans commented on #261
Swig doesn't. we build a shared lib as Python needs it.

you can combine static libs in shared libs, as long as the static ones are compiled with `-fPIC` (i.e. `-DCMAKE_POSITION_INDEPENDENT_CODE:BOOL=ON`). NiftyReg doesn't need to be built with shared libs. (example: STIR isn't currently either, and you can use NiftyPET's CUDA)

[2019-10-07 10:28] rijobro commented on #261
hang on, just realised I can create python swig libraries as static.

[2019-10-07 10:35] rijobro commented on #261
PRs https://github.com/CCPPETMR/SIRF-SuperBuild/pull/270 and https://github.com/CCPPETMR/SIRF/pull/457 will hopefully do what we want.

[2019-10-07 10:57] KrisThielemans commented on #261
I wonder if `CMAKE_POSITION_INDEPENDENT_CODE:BOOL=ON` maybe doesn't make it to the CUDA compiler. could be CMake version dependent.

[2019-10-07 12:47] rijobro commented on #261
That was my current guess.

Seems python doesn't work with static libraries, I just hadn't deleted the installation directory so was using the old `.so`. So I'm not sure what the solution here is...

[2019-10-15 11:25] evelinaametova opened #273 "Azure cuda driver"
To make gadgetron and CIL work we had to downgrade CUDA driver.

To uninstall I did following:
[code]

to install (note, we need update 1, not 2)
[code]

[2019-10-17 12:01] paskino commented on #273
on sirf2 I couldn't even run `nvidia-smi` which probes the video card, getting an error of conflicting versions.

I followed the above instructions and got
[code]

[2019-10-17 15:02] rijobro commented on #263
just copy `SIRF-Contribs/src/Python/` to  `PYTHON_DEST/`

[2019-10-17 15:17] rijobro commented on #260
@bathomas this needs to be sorted I'm afraid. any ideas?

[2019-10-17 16:13] rijobro commented on #263
just tried this locally and `cp -r SIRF-Contribs/src/Python/sirf/contrib` to `$PYTHON_DEST/sirf` enables `import sirf.contrib`

[2019-10-22 11:17] rijobro commented on #263
@paskino have you had the chance to have a look at this yet? We'll need it for the symposium.

[2019-10-22 13:01] KrisThielemans opened #275 "update STIR to 4.0.0-alpha"

[2019-10-22 20:42] KrisThielemans commented on #275
closed with e1890100f8c8edb62fbf54fab37fc395dd964bfe

[2019-10-22 20:42] #275 closed

[2019-10-23 08:47] paskino opened #276 "Install data to install directory"
The environment scripts now contain the variable `SIRF_INSTALL_PATH` which points to the installation directory.

I suggest to use the directory `${SIRF_INSTALL_PATH}/share/sirf/data` to put the data in.

This can also be used by the download [scripts ](https://github.com/CCPPETMR/SIRF-Exercises/blob/master/scripts/download_MR_data.sh#L81)of the `SIRF-Exercises` instead of the current `$SIRF_PATH`

[2019-10-23 09:05] KrisThielemans commented on #276
I don't think this is a SuperBuild issue, but SIRF. If you agree, please transfer the issue (bottom right corner).

Related is https://github.com/CCPPETMR/SIRF/issues/181 for SIRF installation, and https://github.com/CCPPETMR/CCPPETMR_VM/issues/116

I don't mind having `SIRF_INSTALL_PATH`,  could be quite non-intuitive what it means if people install it in `/usr/local` or indeed `/usr` once we rul

[2019-10-23 17:22] rijobro commented on #263
@paskino I'll do this now if you haven't already started

[2019-10-23 19:42] #263 closed

[2019-10-23 20:25] KrisThielemans commented on #269
do we still want to fix this for 2.1 (final)?

[2019-11-03 09:00] casperdcl opened #281 "fix docker ccache"
Current builds (https://travis-ci.org/CCPPETMR/SIRF-SuperBuild) take about 4 times longer on `docker` because `.ccache` is no longer being used properly. Needs to be updated/re-fixed.

Also we should be re-building without caching `ccppetmr/sirf:core` (and also maybe not caching `ccppetmr/sirf:base`)

[2019-11-04 22:50] KrisThielemans opened #283 "libz warning"
We currently get
[code]
I seem to recall this was a niftyreg (?) option to install dependencies. seems unsafe...

[2019-11-04 23:03] #268 closed

[2019-11-04 23:03] #281 closed

[2019-11-04 23:49] casperdcl opened #285 "external explicit compilers"
revert explicit `CMAKE_C_COMPILER` and `CMAKE_CXX_COMPILER` in `SuperBuild/External_*.cmake` from #284

[2019-11-06 16:37] #285 closed

[2019-11-13 21:33] KrisThielemans opened #290 "cmake syntax `if(!var)`"
Does `!` actually work in CMake?
https://github.com/CCPPETMR/SIRF-SuperBuild/blob/baab2ac58b577a83e894e4e43b65d1d7985554ce/SuperBuild/External_STIR.cmake#L109
I think it has to be
`if (NOT USE_ITK)`
usage of `!` is not documented. https://cmake.org/cmake/help/v3.16/command/if.html

[2019-11-14 09:14] rijobro commented on #290
Apologies looks like that one was me. Simple test shows that `!` doesn't work.

[code]
Always returns true regardless of value of `A`.

I'll fix this now.

[2019-11-14 13:23] rijobro commented on #199
If we now point to STIR 4, alpha release then I guess this can be closed, right?

[2019-11-14 13:35] rijobro opened #292 "Travis green but all OSX red"
All OSX jobs are red, yet the overall Travis status is green. Check the current master branch, for example: https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/builds/609322527.

I suppose it's related to this small message at the bottom of the screen:

[code]

The problem is that we're wasting 45 mins per build, all of which we already know are going to fail.

@casperdcl looking at the git blame I thi

[2019-11-14 13:45] casperdcl commented on #292
On Tue, 12 Nov 2019, 4:06 pm

usage: basename string [suffix]
       basename [-a] [-s suffix] string [...]
Something wrong with finding Python executable for OSX
PY_EXE = /bin/python

 

-- @KrisThielemans

I was wondering how long it would take for someone to complain about the extra time :D

As @KrisThielemans noted I deliberately allow osx failures

[2019-11-14 14:04] rijobro commented on #292
Is it a mix up between python2 and python3?:
https://github.com/CCPPETMR/SIRF-SuperBuild/blob/baab2ac58b577a83e894e4e43b65d1d7985554ce/.travis.yml#L350
We're in the `if` clause of `python3`, but we're doing `brew update python`.

[2019-11-14 14:14] rijobro commented on #292
Sorry, just realised `brew upgrade python` will do `python3`...

[2019-11-14 14:32] casperdcl commented on #267
duplicate of #192?

[2019-11-14 15:54] rijobro commented on #292
Anyway, I don't know why but it looks like `PYMVER` is empty, such that `/$PYMVER.*` gives just `/.*`.

[2019-11-14 15:59] casperdcl commented on #292
maybe `$PYMVER.*` needs to be `${PYMVER}.*`

[2019-11-14 16:29] rijobro commented on #292
I tried locally and there was no need for brackets. Anyway, I don't see that error in current Travis logs. Looks like they're failing because ([link](https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/609322540)):
[code]

i.e., `boost::thread` requires `boost::detail`. But we currently only find the following components:

https://github.com/CCPPETMR/SIRF/blob/4391045e0032226e860630c79d5950a9b112d

[2019-11-14 22:12] KrisThielemans commented on #199
you know better than me ! feel free to do so

[2019-11-15 09:53] #290 closed

[2019-11-15 16:21] rijobro opened #294 "Armadillo update?"
All jobs are currently failing (e.g., https://travis-ci.org/CCPPETMR/SIRF/builds/612448661). Seems this is due to Armadillo.

[code]
Going to https://sourceforge.net/projects/arma/files/, you can see that there is no file called `armadillo-7.800.2.tar.xz` (although there is `armadillo-7.800.2.tar.xz.orig`).

I'm guessing that they've updated their minimum version. Should we upgrade? If so, which v

[2019-11-18 17:20] KrisThielemans commented on #294
Being updated on https://github.com/CCPPETMR/SIRF-SuperBuild/blob/update-armadillo/version_config.cmake

@evgueni-ovtchinnikov please check Travis and merge this if ok.

[2019-11-18 17:21] KrisThielemans commented on #260
@bathomas I guess this is fixed? Can you please close mentioning the relevant commit?

[2019-11-18 17:21] KrisThielemans commented on #273
@bathomas I guess this is fixed? Can you please close mentioning the relevant commit?

[2019-11-18 18:11] #260 closed

[2019-11-18 18:11] #273 closed

[2019-11-18 18:13] bathomas commented on #260
Fixed by 72e0edd

[2019-11-18 18:13] bathomas commented on #273
Fixed by 72e0edd.

[2019-11-19 10:41] #294 closed

[2019-11-19 11:16] evgueni-ovtchinnikov opened #297 "NIFTYPET currently only works with python version 2"
Cannot build SIRF-SuperBuild on my Windows10 desktop, getting error message
[code]
Strangely, no problem on my Windows10 laptop.

[2019-11-19 11:24] evgueni-ovtchinnikov commented on #297
likely reason - laptop does not have gpu

[2019-11-19 14:02] rijobro commented on #297
Set `USE_NIFTYPET` to `OFF` in CMake

[2019-11-19 14:16] evgueni-ovtchinnikov commented on #297
CMake switches it back to `ON`

[2019-11-19 15:29] rijobro commented on #297
Apologies. In `SuperBuild.cmake`, can you remove `FORCE` from:
[code]
Not sure what it's doing there.

[2019-11-19 16:52] rijobro commented on #297
The line shouldn't be commented out, just the word `FORCE` should be removed. Let me know if that doesn't work for you.

[2019-11-19 17:05] evgueni-ovtchinnikov commented on #297
I get lots of errors like this one:
[code]

[2019-11-19 17:38] rijobro commented on #297
I think these are NiftyReg errors. Think you need to `NIFTYREG_USE_CUDA` to `OFF`.

[2019-11-20 09:47] casperdcl commented on #292
@rijobro surely debugging to fix this should be done in a branch on this repo (SuperBuild) rather than SIRF? Any reason you picked SIRF?

[2019-11-20 10:12] rijobro commented on #292
This could've been debugged on the SuperBuild or SIRF, the problem should be fixed on SIRF via https://github.com/CCPPETMR/SIRF/pull/470. I'll do the same here and hopefully that should all be solved.

When it is solved, I'll remove the following:
[code]

[2019-11-20 14:55] ALEXJAZZ008008 opened #301 "CMAKE_BUILD_TYPE is not passed through from SuperBuild to 'External'"
The only 'External' that CMAKE_BUILD_TYPE is passed through to (it appears) is ITK.

[2019-11-20 15:27] KrisThielemans commented on #301
Need to `mark_as_superbuild`and remove the `EXTERNAL_PROJECT_BUILD_TYPE`

[2019-11-21 15:15] #292 closed

[2019-11-25 16:51] #297 closed

[2019-11-25 16:54] evgueni-ovtchinnikov opened #302 "ITK source code directory path length is too long"
Could not build ITK on my Windows 10 desktop, got the error
[code]

[2019-11-25 16:59] rijobro commented on #302
Looking at the [ITK source code CMakeLists.txt](https://github.com/InsightSoftwareConsortium/ITK/blob/83d92e8c8da27243ed9f6ec3d0e7324c2af80e53/CMakeLists.txt#L105):
[code]
So if you set `ITK_SKIP_PATH_LENGTH_CHECKS` to `ON`, you should be fine (or you won't see this error at least). Something along the lines of:
[code]

[2019-11-27 10:37] evgueni-ovtchinnikov commented on #302
I added `ITK_SKIP_PATH_LENGTH_CHECKS` in CMake GUI and checked it - same error message.

Adding
[code]
to ITK CMakeLists.txt produced
[code]

[2019-11-27 10:55] rijobro commented on #302
It looks like you didn't (or didn't add it in the right place).

Where were you running CMake GUI? Which folder is displayed next to "Where to build the binaries:" at the top of the GUI?

[2019-11-27 12:18] evgueni-ovtchinnikov commented on #302
I tried to build ITK as part of SuperBuild so the destination folder was
[code]
I am now building ITK on its own in
[code]
(looks building ok so far) but is this really how we want our users to build it?

[2019-11-27 12:28] rijobro commented on #302
Each of the dependencies has many CMake options. We don't wrap all those options, just the ones we deem important. This means that if you're coming across a problem for the first time (as you are now), the relevant parameters may not be set through the superbuild. You can see a list of the CMake flags that we pass from the superbuild to ITK in `Superbuild/External_ITK.cmake`:

https://github.com/C

[2019-11-28 17:51] rijobro opened #304 "CIL_VERSION undefined for DEVEL_BUILD"
https://github.com/CCPPETMR/SIRF-SuperBuild/blob/5136e69a153db16939ef67081ef85c2c30cf493e/version_config.cmake#L213

`CIL_VERSION` is undefined for `DEVEL_BUILD=ON`, which means that CIL packages can't be built (CCPi-Regularisation requires it as an environmental variable, for example).

[2019-11-29 10:54] KrisThielemans commented on #269
addressed by #303

[2019-11-29 12:22] KrisThielemans opened #305 "upgrade gadgetron to 3.17 or later"
see https://github.com/CCPPETMR/CCPPETMR_VM/issues/141 for possible issues. might need changes to travis and docker dependencies

[2019-11-29 12:32] KrisThielemans commented on #305
and wiki

[2019-11-29 12:36] KrisThielemans commented on #177
we'll close this as we want to reduce what we build from boost instead

[2019-11-29 12:36] #177 closed

[2019-12-16 17:49] rijobro opened #309 "CIL currently failing on Travis"
PR #307 only changes a few lines of code, but many of the Travis builds are failing with errors along the lines of:
[code]
I haven't done any digging, but I suspec this is due to an upstream change to CIL?

[2019-12-17 10:31] rijobro commented on #309
PR #310 will temporarily disable Travis CIL until fixed.

[2019-12-17 13:39] rijobro opened #311 "Travis build own boost currently failing"
As per https://api.travis-ci.org/v3/job/626119225/log.txt, Travis was failing with:
[code]
I'm not sure what the problem is, but I have disabled from Travis. Can be re-added when the problem is resolved.

[2020-01-24 11:51] KrisThielemans commented on #95
@rijobro says this should now all work with Python and C++, but not with MATLAB.

[2020-01-24 11:59] KrisThielemans commented on #12
let's just create 2 new options and modify https://github.com/CCPPETMR/SIRF-SuperBuild/blob/7870f68b7d11c934d908516ff088527659f1cbc4/SuperBuild/External_HDF5.cmake#L83-L84

[2020-01-26 10:22] KrisThielemans opened #313 "Need to switch to use CMake's FindPython"
See https://github.com/CCPPETMR/SIRF/issues/504

For the SuperBuild, there's an additional problem that not all projects will use [`FindPython`](https://cmake.org/cmake/help/v3.12/module/FindPython.html), so somehow we'll have to pass `${Python_EXECUTABLE}` to `PYTHON_EXECUTABLE`. It's going to be messy...

[2020-02-03 16:46] ALEXJAZZ008008 opened #314 "CMAKE_INSTALL_PREFIX cached and not updated"
if CMAKE_INSTALL_PREFIX is set and the super build is compiled then the CMAKE_INSTALL_PREFIX is changed and the super build is recompiled then the original value of CMAKE_INSTALL_PREFIX is cached and some things are still installed there.

[2020-02-03 16:48] ALEXJAZZ008008 opened #315 "CMAKE_BUILD_TYPE is not set in child projects"
if CMAKE_BUILD_TYPE is set to anything other than Release then the build type will not propagate to the 'child' builds of the super build and they will instead be built in Release. Not as easy to debug etc like this.

[2020-02-17 17:41] AnderBiguri opened #318 "Installation typos/bugs in README.md"
This is what I found so far:

1. In Line 61-62 (https://github.com/CCPPETMR/SIRF-SuperBuild/edit/master/README.md#L61). User is at `/opt/cmake` so commands should not point at `/tmp/...` but `/opt/cmake/....`

2. In Line 68 (https://github.com/CCPPETMR/SIRF-SuperBuild/edit/master/README.md#L68). We have not created such folder, so it should read `export PATH=/opt/cmake/bin:$PATH`

[2020-02-17 18:15] rijobro commented on #318
It seems that `use_SYSTEM_ACE` defaults to `ON`, and yet even though Ander didn't have ACE installed, no error was thrown. Strange given that the following is present in `External_ACE.cmake`:
[code]

[2020-02-18 07:46] KrisThielemans commented on #318
There's indeed a number of errors in the README.md. The duplication of the PATH lines (with the 2nd version incorrect) is I think a left-over from when we were using the CMake install script. I can't see the `tar` asking questions... @AnderBiguri please create a PR.

While at it, I suggest to change the instruction to something like
[code]

[2020-02-18 07:47] KrisThielemans opened #319 "No error if ACE not present"
It seems that `use_SYSTEM_ACE` defaults to `ON`, and yet even though Ander didn't have ACE installed, no error was thrown. Strange given that the following is present in `External_ACE.cmake`:
[code]

_Originally posted by @rijobro in https://github.com/CCPPETMR/SIRF-SuperBuild/issues/318#issuecomment-587109218_

[2020-02-18 07:48] KrisThielemans commented on #318
I've moved the ACE  error to #319. Please comment there on that issue.

By the way@, @AnderBiguri please don't use links to the an Edit version of a file.

[2020-02-18 08:12] AnderBiguri commented on #318
Sure, will do.
Is there any reason why just doing

sudo apt-get install cmake

Is not suggested here? Or can we add that option too?

On Tue, 18 Feb 2020, 07:48 Kris Thielemans, <notifications@github.com>
wrote:

[2020-02-18 09:14] KrisThielemans commented on #318
there's a line above about using your system cmake I believe. We do need 3.10 or more recent, which isn't always installed by `apt` and similar (it isn't in Ubuntu 16.04).  I don't think we should be listing all possible package managers here though. Feel free to try to update to something concise and helpful!

[2020-02-18 09:18] AnderBiguri commented on #318
Sure, I understand. Simply just asking, I am not very fluent on Linux and
it's flavours, more of a curious question than a suggestion. Will make a PR
with proposed changes.

On Tue, 18 Feb 2020, 09:14 Kris Thielemans, <notifications@github.com>
wrote:

[2020-02-18 13:41] paskino opened #320 "FFTW has removed version 3.3.5 from http site"
Can't download and find version 3.3.5 now and build will fail.

Should increase the version in `version_config.cmake`

[2020-02-18 13:41] rijobro commented on #318
I would vote removing cmake installation help altogether in favour of pointing them to CMake's homepage. One less thing to keep track of...

[2020-02-18 13:46] paskino commented on #320
Actually, it's better to change the `FFTW_URL` from `http://www.fftw.org/fftw-3.3.5.tar.gz` to `ftp://ftp.fftw.org/pub/fftw/fftw-3.3.5.tar.gz`

[2020-02-18 14:01] paskino commented on #319
@AnderBiguri could you try to add the following after the [`find_package`](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/SuperBuild/External_ACE.cmake#L79) call please?

[code]

[2020-02-18 14:32] AnderBiguri commented on #319
@paskino OK I will try after I manage to install the SuperBuild.
I solved it by getting ACE and ultimately. I will try to unset `USE_SYSTEM_ACE` and give it a go later....

[2020-02-18 17:19] KrisThielemans commented on #318
certainly point to their install-page (if we don't do that yet). I'd like to keep the explicit instructions for Ubuntu as it reduces variability a bit.  Maybe best to just point to https://github.com/CCPPETMR/CCPPETMR_VM/blob/master/scripts/INSTALL_CMake.sh for an explicit example.

[2020-02-21 16:41] #318 closed

[2020-02-21 18:40] KrisThielemans opened #323 "update version_config for new STIR"
as we haven't released STIR 4.0 yet (!), best to point to current STIR master as https://github.com/UCL/STIR/pull/454 fixed a bug..

[2020-02-22 20:06] KrisThielemans opened #324 "allow building from existing source"
It would be nice to be able to build from a source that has already been checked out elsewhere.

Since introducing [SetGitTagAndRepo](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/CMake/SetGitTagAndRepo.cmake) we can use
[code]
to prevent the  SuperBuild to do the git checkout. However, it still assumes that the source was extracted in the usual place by the SuperBuild (i.e. `sources/SIR

[2020-02-22 20:07] KrisThielemans opened #325 "DISABLE_GIT_CHECKOUT_SIRF or SIRF_DISABLE_GIT_CHECKOUT"
for consistency, I think we should rename `DISABLE_GIT_CHECKOUT_SIRF` to `SIRF_DISABLE_GIT_CHECKOUT`.

I guess we could keep the old variable if people think it's required (but at expense of complexity)

@rijobro ?

[2020-02-22 20:11] KrisThielemans commented on #325
hmmm. `BUILD_TESTING_SIRF` as well...

[2020-02-23 07:44] KrisThielemans opened #327 ".travis.yml sets SIRF_TAG=origin/add_to_sirf_classes"
Seems we have a left-over from a previous PR.

[2020-02-23 08:01] KrisThielemans commented on #304
In addition, CCPi tags are by default set to `origin/master`, bound to break stuff. @paskino, please change to a tag. Then undo #310

[2020-02-23 08:03] KrisThielemans commented on #327
@paskino this is a left-over from your changes for CIL. I'll remove this. I'm assuming that we no longer need that SIRF branch for CIL anyway.

[2020-02-23 09:11] KrisThielemans opened #328 "travis fails due to missing Python module deprecation"

[2020-02-23 09:22] KrisThielemans opened #329 "travis fails on Trusty job due to pip"
https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/653947634
[code]
weird as we specify 3.6

[2020-02-23 09:24] #324 closed

[2020-02-23 15:14] #327 closed

[2020-02-23 15:14] #328 closed

[2020-02-23 15:14] #329 closed

[2020-02-24 11:17] rijobro opened #331 "Docker build fails for Travis"
![image](https://user-images.githubusercontent.com/33289025/75148248-1eb04200-56f7-11ea-801b-21e4ef772cd9.png)

One of the Travis Docker build fails. I think I remember @casperdcl saying that this is to be expected, as the Docker build is only triggered for the master branch. I guess this means we need to add an `allow_failures` for this one?

[2020-02-24 13:34] KrisThielemans opened #332 "disable docker builds for PRs or even branches"
there seems little value in running the docker builds for most PRs. @rijobro says that they are still failing for PRs from forks anyway.

What about enabling docker builds only for commits to `master`? Seems easy enough: https://docs.travis-ci.com/user/conditional-builds-stages-jobs

[2020-02-24 13:34] KrisThielemans commented on #332
@casperdcl any objections?

[2020-02-24 14:15] casperdcl commented on #332
Is this a duplicate of #331? Just want to make sure it's the same issue first...

[2020-02-24 14:17] casperdcl commented on #331
AFAIK nothing should fail - if a failure is expected the test should've been skipped completely. Will have a re-look.

[2020-02-24 14:18] rijobro commented on #332
yes

[2020-02-24 14:22] rijobro commented on #331
Good spot, the actual error is that it's missing the `pip` installed `deprecation`. Sorry.

How come `deprecation` isn't available when it's in the `.travis.yml` (and all the other matrix elements are happy)?

[2020-02-24 14:53] casperdcl commented on #331
Hmm on a realted note there are quite a few differences between SIRF and SuperBuild's travis config.

In addition to the `deprecation` and `nibabel` package installation, theres:

[code]

versus

[code]

[2020-02-24 15:00] KrisThielemans commented on #331
the superbuild stuff are for CCPi, not needed for SIRF.

I guess we're building ITK optionally on the SuperBuild. that's been going back and forth a bit.

Any chance that we can actually run at least the pip stuff from one script for the superbuild Travis? (you have one for docker?). one tiny step towards #91

16.04 of course

[2020-02-24 15:05] casperdcl commented on #331
Please re-open if https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/builds/654449852 (https://github.com/CCPPETMR/SIRF-SuperBuild/commit/e8784e9441dd21688026dabe4d7e9e261b463994) fails

[2020-02-24 15:07] casperdcl commented on #331
Honestly I think (as a step towards #91) you could just lift https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/docker/requirements.txt and place it in the root of the SIRF repo. Then get SuperBuild to use SIRF's requirements.txt.

[2020-02-24 15:17] KrisThielemans opened #333 "add UPDATE_DISCONNECTED"
this variable might be handy, see https://cmake.org/cmake/help/latest/module/ExternalProject.html.

it could also be a way to get rid of the `DISABLE_GIT_CHECKOUT` work-around...

[2020-02-24 15:22] KrisThielemans commented on #331
it requires a bit more thought than that I think.

1. CIL requires more packages and python modules than SIRF. I don't really want people to have to install too much because we're a bit lazy...

2. adding it to the SuperBuild. I think that something like this could work:
    - in relevant EXTERNAL_*.cmake, optionally add the `pip install` commands to the `INSTALL_COMMAND` of `ExternalProject_Add`.

[2020-02-24 16:16] casperdcl commented on #331
Strictly speaking we should have a requirements-*.txt for each option (e.g. `requirements-cil.txt`) which are all parsed by `setup.py`. The the cmake should call `pip install sirf` (no options) or e.g. `pip install sirf[cil]` to pull in the optional deps. If the dependencies are build-time (rather than run-time requirements) it's a little more complicated.

[2020-02-25 22:13] casperdcl commented on #331
Still failing but now due to a different issue (CIL tests)... Perhaps also a missing Python dependency but a cryptic error message?

https://travis-ci.org/CCPPETMR/SIRF-SuperBuild/jobs/654449873#L14947

[2020-02-26 20:43] KrisThielemans commented on #331
This now happening on `master` as well (probably previously as well). Only the docker `DEVEL` build (others are fine), implying it's a problem in ccpi-framework/master.

The clue of the error is in the last line
[code]
@paskino @epapoutsellis any ideas?

[2020-02-28 07:28] KrisThielemans opened #336 "clean-up conditional git checkout code"
It would be shorter/cleaner to set the `git` arguments to a macro, like I did with the directory arguments #326. I suggest to create a variable `${proj}_EP_ARGS_GIT` in `SetGitTagAndRepo`  to replace the usage of
[code]
(or equivalent without `_MODIFIED`) in the `External_*` cmake files.

Seems that we could then replace https://github.com/CCPPETMR/SIRF-SuperBuild/blob/602922caf315b073b814aa1c3f88

[2020-02-28 07:29] KrisThielemans commented on #336
@AnderBiguri want to have a go?

[2020-02-28 07:32] KrisThielemans opened #337 "uset SetCanonicalDirs.cmake in External_NiftyReg.cmake"
seems that I forgot to do that in #326. sorry

[2020-02-28 08:25] AnderBiguri commented on #336
@KrisThielemans sure.

[2020-02-28 09:53] KrisThielemans commented on #337
@AnderBiguri this is not urgent of course, but while you're testing... I'd prefer this to have in a separate commit or even RP. Do check our new https://github.com/CCPPETMR/SIRF-SuperBuild/blob/master/CONTRIBUTING.md

[2020-02-28 10:08] rijobro commented on #336
Our current method of setting URL and tag to `""` means that no new git checkouts are done. This is fine when the source is already in place, but causes an error when building the first time.

i.e., the following will fail:
[code]

Since we're planning to clean up the git checkout method, perhaps it would be a good moment to sort this out. Any ideas?

[2020-02-28 12:46] AnderBiguri opened #341 "Add option to set Git tag and repository URL to all (or some) External_*.cmake"
Currently  only `External_Gadgetron.cmake`, `External_NIFTYREG.cmake` (in PR https://github.com/CCPPETMR/SIRF-SuperBuild/pull/335), `External_SIRF.cmake` and `External_STIR.cmake` have this option.

Should we add `SetGitTagAndRepo("${proj}")` to the rest? Not sure if it makes sense for Armadillo or `boost`, but perhaps `NIFTYPET` or `SPM` or `CCPi_*` could use this variable?

[2020-02-28 15:47] AnderBiguri opened #342 "Generate functionality to pass all variables to External CMakes"
### Preamble

I am having serious problems compiling and running the SuperBuild. I did manage to have something working at some point by modifying and unknown amount of variables in the `cmake-gui` of `./build` and `./build/builds/XXXXXX/build`. At some point I managed to screw over it again and could not continue. @rijobro Suggested a better alternative to keep track of changes. To Have a bash sc

[2020-02-28 17:27] KrisThielemans commented on #342
proposed solution:
[code]
would then make sense to put the first 2 lines in a separate file defining yet another macro, such that they don't need to be repeated.

I guess we want it to allow overriding SuperBuild args. I'm not sure about prepending vs appending then. easy to try (or read the CMake doc...)

Of course, we could have the same for non-cmake projects (`..._EXTRA_CONFIGURE_FLAGS` or wha

[2020-03-03 10:19] AnderBiguri opened #343 "SPM path is not passed to MATLABPATH"
I have this problem where the `ctest` relating to SPM in MATLAB fail because the path of SPM is not known to MATLABPATH.

I have a solution, will PR soon.

[2020-03-03 11:35] #343 closed

[2020-03-04 10:41] AnderBiguri commented on #342
@KrisThielemans The "issue" with this way is that the `CACHE` will enforce past set variables. So once you have done `-DSTIR_EXTRA_CMAKE_ARGS:STRING=-Dsomething:BOOL=ON`, if you remove it from your CMAKE call, `-Dsomething:BOOL=ON` will be set forever. This includes also if its a typoed variable. It is not necessarily wrong, but it hides from the user that if a flag is removed from the CMAKE call,

[2020-03-04 11:02] AnderBiguri opened #345 "JSON should be on STIR dependencies"
This is to allow conversion from HU to mu-values

[2020-03-04 11:02] #337 closed

[2020-03-04 11:05] KrisThielemans commented on #345
This will need a new external project, based on https://github.com/nlohmann/json. It's a CMake install so should be very easy to do.

[2020-03-05 16:37] rijobro opened #346 "External_CCPi-Framework doesn't install libcilacc.so"
As far as I can see, `External_CCPi-Framework.cmake` modifies the install command:

https://github.com/CCPPETMR/SIRF-SuperBuild/blob/d5a2e679579b149b910e4cbff2ad908f94771d48/SuperBuild/External_CCPi-Framework.cmake#L68

This means that `libcilacc.so` isn't installed, leading to my current error:
[code]

[2020-03-05 16:42] rijobro commented on #346
Actually i don't understand as the build step is also: `BUILD_COMMAND ""`. So how will `libcilacc.so` ever be compiled?

[2020-03-05 16:42] KrisThielemans commented on #331
Root-cause is #346

[2020-03-05 16:50] KrisThielemans opened #347 "Do not use master for DEVEL build of CCPi code"
@paskino @epapoutsellis I feel that our Travis or DEVEL builds shouldn't be failing because CCPi code is failing (as currently in #331). Presumably CCPi has its own testing suite. I therefore suggest to modify [version_config.cmake](https://github.com/CCPPETMR/SIRF-SuperBuild/blob/d5a2e679579b149b910e4cbff2ad908f94771d48/version_config.cmake#L181-L187) to known-working commits (or tags) for the `D

[2020-03-05 18:16] casperdcl commented on #331
great; but 'tis also a tad weird that the docker build is flagging this - surely there should've been a non-docker test which should've caught it?

[2020-03-05 22:30] KrisThielemans commented on #331
true, but looks like all CIL builds are disabled in the non-docker tests. I seem to recall @rijobro did this to avoid CIL errors creating trouble for us.

[2020-03-06 09:09] rijobro commented on #346
Also related: https://github.com/vais-ral/CCPi-Framework/issues/505

[2020-03-09 13:30] AnderBiguri opened #349 "NIFTYREG has no option to disable git checkouts"

[2020-03-10 10:21] #349 closed

[2020-03-10 14:28] #336 closed

[2020-03-10 14:32] KrisThielemans commented on #341
Let's do this on a need basis. It would in any case make more sense to use one more macro that call the 3 other macros etc. Even less lines to write.

[2020-03-10 14:32] #341 closed

[2020-03-10 16:23] #342 closed

[2020-03-11 12:13] KrisThielemans commented on #320
file is back on `http`, so closing.

[2020-03-11 12:13] #320 closed

[2020-03-14 15:06] #302 closed

[2020-03-14 17:20] KrisThielemans commented on #315
Duplicate of #301

[2020-03-14 17:20] #315 closed

[2020-03-14 18:19] KrisThielemans opened #354 "armadillo compilation can fail due to HDF5"
https://travis-ci.org/github/CCPPETMR/SIRF-SuperBuild/jobs/662454732?utm_source=github_status
failed on OSX with
[code]

Note that HDF5 1.12.0 was installed by brew to install dependencies for `postgis` apparently. Our current version is 1.10 or 1.8. However, this wasn't installed yet as Armadillo doesn't depend on HDF5 in  our project.

I guess that Gadgetron doesn't need Armadillo's HDF5 support

[2020-03-14 23:09] KrisThielemans opened #356 "Travis OSX failure with BLAS"
https://travis-ci.org/github/CCPPETMR/SIRF-SuperBuild/jobs/662503202 failed, which is the Python3 job for OSX. https://travis-ci.org/github/CCPPETMR/SIRF-SuperBuild/jobs/662503202#L15192 says
[code]
I think the following is going on:
1. `brew install openblas` says
[code]
2. a bit further on, the log file says
[code]

So it's likely that our work-around to find the correct blas files
https://githu

[2020-03-14 23:11] KrisThielemans commented on #356
It looks therefore that we need to find BLAS version *after* all `brew` operations have finished.

[2020-03-14 23:46] #354 closed

[2020-03-15 11:05] KrisThielemans opened #358 "travis OSX lines could use /usr/local/opt"
Looks like `brew` symlinks most recent version there. For  instance from [this log](https://travis-ci.org/github/CCPPETMR/SIRF-SuperBuild/jobs/662661708#L4262) where I inserted an `ls -l /usr/local/opt`
[code]
Makes me wonder if we couldn't simplify/robustify https://github.com/CCPPETMR/SIRF-SuperBuild/blob/aa4cee952493d888e2bb93f10fa9b605fe0062d9/.travis.yml#L388-L392. Although I vaguely recall w